<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="close()">
        <ion-icon size="large" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h1 class="custom-title">
      <ion-text> {{ informationDesk.name }}</ion-text>
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img
      *ngIf="informationDesk.picture"
      [src]="informationDeskPicture"
    ></ion-img>
    <ion-card-content>
      <div [innerHTML]="informationDesk.description"></div>
      <div [innerHTML]="informationDesk.street"></div>
      <p>
        {{ informationDesk.postal_code }} {{ informationDesk.municipality }}
      </p>
      <p>
        <a [href]="informationDesk.website">
          {{ 'trek.details.informationDesk.website' | translate }}
        </a>
        - <a [href]="'mailto:' + informationDesk.email"> Email </a> -
        <a [href]="'tel:' + informationDesk.phone">{{
          informationDesk.phone
        }}</a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
