<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon size="large" slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ informationDesk.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img *ngIf="informationDesk.picture !== ''" [src]="informationDeskPicture"></ion-img>
    <ion-card-content>
      <div [innerHTML]="informationDesk.description"></div>
      <div [innerHTML]="informationDesk.street"></div>
      <p>{{ informationDesk.postal_code }} {{ informationDesk.municipality }}</p>
      <p>
        <a [href]="informationDesk.website"> Site web </a> -
        <a [href]="'mailto:' + informationDesk.email"> Email </a> -
        <a [href]="'tel:' + informationDesk.phone">{{ informationDesk.phone }}</a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>