.bar-main {
  .flex-wrapper {
    margin-left: 40px;
  }

  .item-input-inset {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.bar-dark {
  padding: 0;

  .button {
    border: none;
    background: $tabs-color;

    &.activated {
      background: transparentize($primaryColor, 0.4);
    }

    &.active {
      background: $tabs-color;
    }

    &.active,
    &.activated {
      box-shadow: inset 0 -4px 0 $tabs-border-color;
      color: white;
    }

    &:after {
      display: none;
    }
  }
}

.bar-subheader .button-bar > .button {
  min-height: $button-bar-button-height - 1 + 12;
  line-height: $button-bar-button-height + 12;

  &:first-child {
    border-radius: 0;
  }
  &:last-child {
    border-radius: 0;
  }
}

.bar-secondary {
  .button-back {
    white-space: nowrap;
    overflow: hidden;
    color: $highlight-text-color;
    padding-right: 91px;
  }

  i {
    color: $icon-bt-color;
  }
}
