.bar-main {
  .flex-wrapper {
    margin: 0 5px;
  }

  .item-input-inset {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.bar-dark {
  padding: 0;

  .button {
    border: none;
    background: $tabs-color;

    &.activated {
      background: transparentize($primaryColor, 0.4);
    }

    &.active {
      background: $tabs-color;
    }

    box-shadow: inset 0 -4px 0 $tabs-border-color;
    color: white;

    &.active,
    &.activated {
      box-shadow: inset 0 -4px 0 $tabs-border-active-color;
      font-weight: bold;
    }

    &:after {
      display: none;
    }
  }
}

.bar-subheader .button-bar {
   
  .button + .button {
    border-left: 4px solid $tabs-border-active-color;
  }

}

.bar-subheader .button-bar > .button {
  min-height: $button-bar-button-height - 1 + 12;
  line-height: $button-bar-button-height + 12;

  &:first-child {
    border-radius: 0;
  }
  &:last-child {
    border-radius: 0;
  }
}

.bar-secondary {
  .button-back {
    white-space: nowrap;
    overflow: hidden;
    color: $complementaryColor2;
    padding-right: 91px;
  }

  .modal__actions i {
      color: $primaryColor;
  }

  i {
    color: $complementaryColor2;
  }
}

.search-area {
  position: relative;

  .ion-close {
    position: absolute;
    top: 6px;
    right: 10px;
  }
}