.button.icon-top {
	&:before {
		display: block;
	}
}

.switch-detail {
    width: 56px;
    height: 56px;
    text-align: center;
    position: fixed;
    padding: 5px;
    z-index: 100;
    @include border-radius(50%);
    background-color: $dark;

    &.switch-detail-map {
        bottom: 20px;
        right: 20px;
    }

    &.switch-detail-userlocation {
        top: 106px;
        left: 20px;
    }

    &.switch-detail-treklocation {
        top: 168px;
        left: 20px;
    }

    &.switch-detail-markers-menu {
        top: 230px;
        left: 20px;
    }

    a, button {
        color: $complementaryColor;
        text-decoration: none;
        padding: 0;
        border: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
}
