.filters-list {
	padding: 0;
	color: white;

	li {
		list-style: none;
		text-align: center;
	}

	.item-select {
		min-height: 32px;

		&:after {
			color: black;
		}

		select {
			border: 1px solid black;
			max-width: 100%;
			width: 100%;
			padding: 4px 45px 5px 15px;
			color: black;
			direction: ltr;
			background-color: white;
		}
	}

}

.filters-list + .reset-button {
	margin: 1rem 0 3rem 0;
	padding: 1rem;
}

	.filters-list__item {
		margin: 10px 0;

		& + & {
			border-top: 1px solid white;
		}

		&.filters-list__item--select {
			border-top: none;
			padding-top: 0px;
		}

		svg, svg path {
			fill: white !important;
		}
	}

	.filter-name {
	    font-weight: bolder;
	    font-size: 1rem;
	    margin: 1rem 0;
	}



	.filters-list__bt {
		position: relative;
		color: white;
		padding: 0;
		font-size: 13px;
		line-height: 1.4em;
		border: none;
		opacity: 1;

		// &:before {
		// 	font-size: 40px;
		// }

		// & + & {
		// 	margin-left: 6px;
		// }

		&:hover {
			color: white;
		}

		img, svg {
			height: 56px;
			max-width: 56px;
			opacity: 0.4;
			display: block;
			margin: auto;
		}

		&.button-icon.active, &.button-icon.activated {
			opacity: 1;
			img, svg {
				opacity: 1;
			}
		}

		.difficulty-icon, .use-icon {
			width: 56px;
			height: 56px;
		}
	}

	.filters-list__bt-no-icon {
		position: relative;
		color: white;
		padding: 0 1px;
		font-size: 12px;
		min-width: 53px;
		margin: 0 1px;
		border-color: rgba(255,255,255,0.4);
		background: transparent;
		opacity: 1;

		&:before {
			font-size: 40px;
		}

		&:hover {
			color: white;
		}
		&.activated, &.active {
			opacity: 1;
			background: #fff;
			color: $primaryColor;
			border-color: rgba(255,255,255,1);
		}
	}