
.icon-geotrek {

    vertical-align: middle;
    text-decoration: none;

    &.icon-binoculars::before {
        content: url(../images/binocular.svg);
        width: 32px;
        height: 32px;
        font-size: 38px;
    }
    &.icon-binoculars-2::before {
        content: url(../images/binocular-2.svg);
        width: 32px;
        height: 32px;
        font-size: 38px;
    }
}

.switch-detail-map {
    .ion-map::before, .ion-document:before {
        padding-top: 6px;
    }
}

.icon-text {
    line-height: 32px;
    vertical-align: top;
    padding-left: 10px;
}

.leaflet-marker-icon {
    &.trek-cluster, &.trek-icon {
        border-radius: 999px;
        border-style: solid;
        border-width: 4px;
        background-color: $primaryColor;
        background-size: 28px;
        background-image: url(../images/trek-icon.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        opacity: 0.8 !important;
    }

    &.trek-icon {
      border-color: $complementaryColor4;

    }

    &.trek-cluster {
      border-color: $complementaryColor3;

      .count {
        border-radius: 5px;

        background-color: $complementaryColor3;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        min-width: 20px;
        min-height: 20px;

        display: block;
        position: absolute;
        bottom: -2px;
        right: -2px;

      }
    }
}