
.icon-geotrek {
    
    vertical-align: middle;
    text-decoration: none;

    &.icon-binoculars::before {
        content: url(../images/binocular.svg);
        width: 32px;
        height: 32px;
    }
    &.icon-binoculars-2::before {
        content: url(../images/binocular-2.svg);
        width: 32px;
        height: 32px;
    }
}


.icon-text {
    line-height: 32px;
    vertical-align: top;
    padding-left: 10px;
}