
[state^='home.map'] .modal-backdrop {
    .modal {
        min-height: 33%;
        bottom: 0;
        top: auto;
    }

    .object-title {
        padding-right: 50px;
        padding-left: 0.3em;
        overflow: hidden;
        min-height: 40px;
        width: 100%;
        display: table;

        img {
            vertical-align: top;
            display: inline-block;
        }
    }

    h3 {
        margin-top: 0em;
        margin-left: 0.2em;
        padding-right: 30px;
        color: grey;
        font-size: 16px;
        margin-bottom: 0px;
        display: table-cell;
        vertical-align: middle;
    }

    object-detail {
        padding: 6px;
    }

    .item {
        background-color: transparent;
    }

}

.modal__actions i {
    color: $primaryColor;
}