.poi-detail {
  padding: 0;
  .row {
    padding: 10px;
  }
  .header {
    border-bottom: 1px solid #eee;
    height: 80px;
    .poi-detail__name {
      display: inline;
      vertical-align: middle;
      color: $complementaryColor2;
      font-weight: bold;
      white-space: normal;
      margin: 0;
      padding: 0;
    }
    .poi-detail__distance {
      display: inline;
      vertical-align: middle;
      font-size: 14px;
      margin: 0 0 2px 2px;
    }
  }
  .thumbnail {
    height: 60px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  .poi-detail__description {
      white-space: normal;
      color: black;

      p {
          white-space: normal;
          color: black;
      }
  }
}





