.poi-detail {
  padding: 0;
}

.poi-detail .row {
  padding: 10px;
}

.poi-detail .header {
  border-bottom: 1px solid #eee;
  height: 80px;
}

.poi-detail .title {
}

.poi-detail .thumbnail {
  height: 60px;
  overflow: hidden;
}

.poi-detail .thumbnail img {
  width: 100%;
  height: auto;
}

.poi-detail__name {
    display: inline;
    vertical-align: middle;
    color: $complementaryColor2;
    font-weight: bold;
    white-space: normal;
}

.poi-detail__distance {
    display: inline;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 0 2px 2px;
}

.poi-detail__description {
    white-space: normal;
    color: black;

    p {
        white-space: normal;
        color: black;
    }
}

