.slider {
	padding-bottom: 20px;
}

	.slider-slides {
		text-align: center;

		img {
			max-width: 100%;
			width: auto;
			max-height: 500px;
			display: block;
			margin: auto;
		}
	}

	.slider-legend {
		color: $complementaryColor2;
		font-style: italic;
	}

	.slider-pager {
		bottom: 5px;

		.icon {
			color: $primaryColor;
		}
	}