.splashscreen {
	background: url(../images/splash-screen-large.jpg) center top no-repeat black;
    max-width: 100%;
    height: auto;
}

	.splashscreen__text {
		position: absolute;
		bottom: 20%;
		left: 50%;
		@include transform(translateX(-50%));
		color: white;
        background-color: black;
        opacity: 0.8;
        padding: 1em;
	}
