.splashscreen {
	background: black url(../images/splash.jpg) center center no-repeat;
    background-size: auto 100%;
    width: 100%;
    height: 100%;
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
        background-image: url(../images/splash.jpg);
    }

    @media only screen and (orientation: landscape) {
        background-size: 100% auto;
    }
}

.splashscreen__text {
	position: absolute;
	bottom: 20%;
	left: 50%;
	@include transform(translateX(-50%));
	color: white;
    background-color: black;
    opacity: 0.8;
    padding: 1em;
}
