.static-pages {
	h1 {
	  color: #0c9ac8;
	  border-bottom: 1px dotted #0c9ac8;
	  line-height: 40px;
	}

	ul {
		list-style: initial;
		padding: 15px;

		li {
			margin-bottom: 1em;
		}
	}

	img {
		max-width: 100%;
	}

	.row {
		display: block;
	}
}