.trek-list {
	display: block; // Fix ionic bug on Android 4.1 (list-item won't display on full width)
}

.trek-list__item {
    h3 {
        color: $highlight-text-color;
    }

	.departure {
		margin-bottom: 0;
	}
	.difficulty {
		margin-bottom: 0;
	}
}

.trek-list__item__detail__actions {
    position: absolute;
    right: 5px;
    bottom: 10px;
    a {
        display: block;
        height: 40px;
        width: 50px;
    }
}

.trek-list__item__detail-bt {
	color: $dark;
	text-decoration: none;
}

.trek-list--number {
	margin-right: 0.4em;
    background: white;
    color: purple;
    padding: 0.15em 0.7em;
    font-weight: bold;
    border-radius: 45%;
}