.button.button-positive.button-clear {
	color: $primaryColor;
}

.trek-detail {
	.list {
		.item {
			border-left: none;
			border-right: none;
			border-bottom: none;
			font-size: $font-size-base;
			padding: 15px 0;

			&:first-child {
				border-top: none;
			}
		}
	}

	.trek-detail__extra-infos {
		background: $complementaryColor5;
		padding: 5px;
		margin: 0 -10px 10px -10px;
		width: auto;
		.trek-detail__extra-infos__item {
			display: inline-block;
			margin: 0px 10px;
			vertical-align: top;
			@media (max-width: 680px) {
				width: 48%;
				margin: 0px;
			}
			.net-name {
				position: relative;
			}
			.trek-detail__extra-infos__item__label {
				display: block;
			}
			.trek-detail__extra-infos__item__icon {
				width: 30px;
			    height: 30px;
			    overflow: hidden;
			    display: inline-block;
			    position: relative;
				.icon {
					position: relative;
	    			max-width: 30px;
  					max-height: 30px;
  					vertical-align: middle;
				}
				&.wrapper {
					width: auto;
					height: auto;
				}
			}
		}
	}
}

.download-advice {
	padding: 1rem;
	background-color: transparentize($download-button-color, 0.4);
	font-size: 1.1rem;
	text-align: center;
	color: darken($download-button-color, 20);
	.icon-container, .text-container {
		display: inline-block;
		vertical-align: middle;
	}
	.icon-container {
		width: calc(20% - 0.3rem);
	}
	.text-container {
		line-height: 1.5rem;
		width: calc(80% - 0.3rem);
		text-align: left;
	}
	.icon {
		color: currentColor;
		font-size: 1.5rem;
	}
	button {
		display: block;
		max-width: 80%;
		line-height: 1rem;
		margin: auto;
		text-align: center;
		vertical-align: middle;
		padding: 0.6rem;
		background: $download-button-color;
		border: none;
		color: white;
		text-decoration: none;
		&:active, &:focus, &.activated {
			background-color: darken($download-button-color, 20);
		}
	}
}

.trek-detail__title {
	font-size: $font-size-large;
}

.trek-detail__subtitle {
	font-size: $font-size-base;
}

.trek-detail__ambiance {
	font-size: $font-size-base;
    color: $complementaryColor2;
}

.trek-detail__section-title {
	background: $highlight-text-color;
	color: white;
	font-size: $font-size-base;
	font-weight: bold;
	padding: 10px;
	margin-right: -10px;
	margin-left: -10px;
	min-width: 130px;
}

.trek-detail__main-infos {
	background-color: $primaryColor;
	padding: 5px;
	margin: 0 -10px;
    width: auto;
}

.trek-detail__main-infos__item {
	padding: 5px 0 5px 10px;
	display: inline-block;
	@media (max-width: 680px) {
		width: 48%;
	}
	position: relative;
	color: white;
	> div {
		display: inline-block;
  		vertical-align: middle;
  		&:first-child {
  			margin-right: 0.6rem;
  		}
  		img, svg {
			height: 2rem;
  		}
  		svg {
  			width: 2rem;
  			fill: white;
  		}
  		i {
  			color: inherit;
  			font-size: 2rem;
  		}
	}	
}

.trek-detail__main-infos__item.icon {
	color: white;
}

.trek-detail__main-infos__item.icon.ion-android-locate:before {
	font-size: 20px;
	color: white;
	top: 11px;
	left: 11px;
}

.trek-detail__departure-arrival {
    display: inline-block;
    vertical-align: bottom;
    color: $complementaryColor2;
}

.trek-detail__altimetric-profile {
    margin: 0;
    padding: 0;
    width: 100%;
}

.information-desk {
	p {
		white-space: normal;
	}
}

.net-prev-elements {
	margin-left: -10px;
	margin-right: -10px;
	.row {
		padding: 0;
	}
	.col {
		text-align: center;
		height: 40px;
		line-height: 40px;
		&:first-child {
			border-right: 1px solid $grayLight;
			i {
		  		margin-right: 2px;
			}
		}
		&:last-child {
			border-left: 1px solid $grayLight;
			i {
		  		margin-left: 2px;
			}
		}
	}
	i {
		color: $primaryColor;
		display: block;
		font-size: 28px;
	}
	i, p {
		line-height: normal;
		max-width: 70%;
		display: inline-block;
		vertical-align: top;
	}
	p {
		height: 30px;
		margin: 0;
		overflow: hidden;
		-o-text-overflow: ellipsis; /* pour Opera 9 */
  		text-overflow: ellipsis;
	}
	color: $primaryColor;
	background: $dark;
}

.children-detail, .parent-detail {
	.item-content {
		padding: 0;
	}
	.thumbnail {
		height: 3rem;
	}
}