//
// Variables
// --------------------------------------------------

$primaryColor:			$green;
$secondaryColor:		$greenDarker;

$tabs-color:			$dark;
$tabs-border-color:		$primaryColor;

$icon-bt-color:			$dark;
$highlight-text-color:  $green;

$menu-left-bg: 			$secondaryColor;
$loading-bar-color:     $primaryColor;