//
// Variables
// --------------------------------------------------

$purple:				#893286;
$purpleLight:			#974B95;

$primaryColor:			$purple;
$secondaryColor:		$purpleLight;

$tabs-color:			$purple;
$tabs-border-color:		white;

$icon-bt-color:			$secondaryColor;
$highlight-text-color:  $purple;

$menu-left-bg: 			$secondaryColor;
$loading-bar-color:     $primaryColor;