//
// Variables
// --------------------------------------------------

$primaryColor:			$green;
$secondaryColor:		$greenDarker;
$complementaryColor:    white;
$complementaryColor2:   grey;
$complementaryColor3:   orange;
$complementaryColor4:   blue;
$complementaryColor5:   #E0CDA9;

$tabs-color:			$dark;
$tabs-border-color:		$complementaryColor;
$tabs-border-active-color: $primaryColor;

$icon-bt-color:			$dark;
$highlight-text-color:  $green;

$menu-left-bg: 			$secondaryColor;
$loading-bar-color:     $primaryColor;