//
// Variables
// --------------------------------------------------


// Colors
// -------------------------

$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;

$green:                 #7da013;
$greenDarker:           #7da013;


// Ionic overrides
// -------------------------
$dark:                            #494645;

$bar-dark-text:                   #868383;
$bar-dark-border:                 transparent;
$bar-dark-active-bg:              transparent;
$bar-dark-active-border:          transparent;



// App variables
// -------------------------

$primaryColor:			$green;
$secondaryColor:		$greenDarker;
$complementaryColor:    white;
$complementaryColor2:   grey;
$complementaryColor3:   $dark;
$complementaryColor4:   orange;
$complementaryColor5:   $grayLighter;

$tabs-color:			$dark;
$tabs-border-color:		$complementaryColor;
$tabs-border-active-color: $primaryColor;

$icon-bt-color:			$dark;
$highlight-text-color:  $green;

$menu-left-bg: 			$secondaryColor;
$filters-select-background-color: $dark;

$loading-bar-color:     $primaryColor;
$numbers-color: $dark;