//
// Variables
// --------------------------------------------------

$officialPurple:        #981D97;
$purple:				#893286;
$purpleLight:			#974B95;
$green:                 #CEDC00;
$grey:                  #919388;
$heavyGrey:             #4d4a4a;

$primaryColor:			$officialPurple;
$secondaryColor:		$officialPurple;
$complementaryColor:    white;
$complementaryColor2:   $heavyGrey;

$tabs-color:			$officialPurple;
$tabs-border-color:		grey;
$tabs-border-active-color: $green;

$icon-bt-color:			$secondaryColor;
$highlight-text-color:  $officialPurple;

$menu-left-bg: 			$secondaryColor;
$loading-bar-color:     $primaryColor;