@charset "UTF-8";
.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
  -moz-box-flex: 1;
  -moz-flex: 1 0;
  -ms-flex: 1 0;
  flex: 1 0; }

.trek-list {
  display: block; }

.trek-list__item .departure {
  color: #893286;
  margin-bottom: 0; }
.trek-list__item .difficulty {
  margin-bottom: 0; }

.trek-list__item__detail__actions {
  position: absolute;
  right: 5px;
  bottom: 10px; }

.trek-list__item__detail-bt {
  color: #494645;
  text-decoration: none; }

.trek-list--number {
  margin-left: 1em;
  background: white;
  color: purple;
  padding: 0.15em 0.7em;
  font-weight: bold;
  border-radius: 45%; }

.filters-list {
  padding: 0;
  color: white; }
  .filters-list li {
    list-style: none;
    text-align: center; }
  .filters-list .item-select {
    min-height: 32px; }
    .filters-list .item-select:after {
      color: white; }
    .filters-list .item-select select {
      border: 1px solid white;
      max-width: 100%;
      width: 100%;
      padding: 4px 45px 5px 15px;
      color: white;
      direction: ltr;
      background-color: #974b95;
      border: 1px solid white; }

.filters-list__item {
  margin: 10px 0;
  padding-top: 10px; }
  .filters-list__item + .filters-list__item {
    border-top: 1px solid white; }
  .filters-list__item.filters-list__item--select {
    border-top: none;
    padding-top: 0px; }

.filters-list__bt {
  position: relative;
  color: white;
  padding: 0;
  font-size: 13px;
  min-width: 56px;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: 20px;
  border: none; }
  .filters-list__bt:before {
    font-size: 40px; }
  .filters-list__bt:hover {
    color: white; }
  .filters-list__bt span {
    position: relative;
    top: 33px; }
  .filters-list__bt.button-icon.activated, .filters-list__bt.button-icon.active {
    background-position: center bottom; }

.trek-detail .list .item {
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-size: 14px;
  padding: 15px 0; }
  .trek-detail .list .item:first-child {
    border-top: none; }

.trek-detail__title {
  font-size: 18px; }

.trek-detail__section-title {
  background: #893286;
  color: white;
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  padding-left: 10px;
  margin-left: -10px;
  min-width: 130px; }

.button.icon-top:before {
  display: block; }

.switch-detail-map {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 5px;
  z-index: 10;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #893286; }
  .switch-detail-map a {
    color: white;
    text-decoration: none; }

.slider {
  padding-bottom: 20px; }

.slider-slides {
  text-align: center; }
  .slider-slides img {
    max-width: 100%; }

.slider-legend {
  color: #893286; }

.slider-pager {
  bottom: 5px; }

.bar-main .flex-wrapper {
  margin-left: 40px; }
.bar-main .item-input-inset {
  padding-top: 6px;
  padding-bottom: 6px; }

.bar-dark {
  padding: 0; }
  .bar-dark .button {
    border: none;
    background: #893286; }
    .bar-dark .button.activated {
      background: rgba(137, 50, 134, 0.6); }
    .bar-dark .button.active {
      background: #893286; }
    .bar-dark .button.active, .bar-dark .button.activated {
      box-shadow: inset 0 -4px 0 white;
      color: white; }
    .bar-dark .button:after {
      display: none; }

.bar-subheader .button-bar > .button {
  min-height: 43px;
  line-height: 44px; }
  .bar-subheader .button-bar > .button:first-child {
    border-radius: 0; }
  .bar-subheader .button-bar > .button:last-child {
    border-radius: 0; }

.bar-secondary .button-back {
  white-space: nowrap;
  overflow: hidden;
  color: #893286;
  padding-right: 91px; }
.bar-secondary i {
  color: #974b95; }

.platform-android .action-sheet, .platform-browser .action-sheet {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin-left: 0;
  margin-right: 0; }
.platform-android .action-sheet-backdrop.active, .platform-browser .action-sheet-backdrop.active {
  background-color: transparent; }
  .platform-android .action-sheet-backdrop.active.ng-animate.active-add .action-sheet-wrapper, .platform-browser .action-sheet-backdrop.active.ng-animate.active-add .action-sheet-wrapper {
    -webkit-animation-name: scaleIn;
    -moz-animation-name: scaleIn;
    animation-name: scaleIn;
    -webkit-animation-duration: 250ms;
    -moz-animation-duration: 250ms;
    animation-duration: 250ms;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
.platform-android .action-sheet-backdrop.ng-animate.active-remove .action-sheet-wrapper, .platform-browser .action-sheet-backdrop.ng-animate.active-remove .action-sheet-wrapper {
  -webkit-animation-name: scaleOut;
  -moz-animation-name: scaleOut;
  animation-name: scaleOut;
  -webkit-animation-duration: 250ms;
  -moz-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }
.platform-android .action-sheet-wrapper, .platform-browser .action-sheet-wrapper {
  top: 44px;
  right: 5px;
  bottom: auto;
  width: auto;
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  transform-origin: right top; }
.platform-android .action-sheet-group, .platform-browser .action-sheet-group {
  margin-bottom: 0;
  border-radius: 0; }
  .platform-android .action-sheet-group .button, .platform-browser .action-sheet-group .button {
    padding: 1px 15px;
    color: black; }

.splashscreen {
  background: url(../images/splash-screen.jpg) center top; }

.splashscreen__text {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  color: white;
  background-color: black;
  opacity: 0.8;
  padding: 1em; }

#loading-bar .bar {
  background: #893286;
  padding: 0;
  height: 4px; }
#loading-bar .peg {
  display: none; }

#loading-bar-spinner {
  display: none; }

.pictogram {
  width: 20px; }

[state^="home.map"] .modal-backdrop .pictogram {
  width: 24px;
  height: 24px; }

.poi-detail__name {
  display: inline-block;
  vertical-align: bottom; }

.poi-detail__description {
  white-space: normal; }
  .poi-detail__description p {
    white-space: normal; }

[state^='home.map'] .modal-backdrop {
  height: 33%;
  top: initial;
  bottom: 0; }
  [state^='home.map'] .modal-backdrop .object-title {
    padding: 0.3em;
    overflow: hidden; }
    [state^='home.map'] .modal-backdrop .object-title img {
      vertical-align: top;
      display: inline-block; }
  [state^='home.map'] .modal-backdrop h3 {
    margin-top: 0em;
    margin-left: 0.2em;
    padding-right: 1.5em;
    color: grey;
    font-size: 20px; }
  [state^='home.map'] .modal-backdrop object-detail {
    padding: 6px; }
  [state^='home.map'] .modal-backdrop .item {
    background-color: transparent; }

.leaflet-control-layers.leaflet-control {
  display: none; }

.leaflet-live-user {
  -webkit-animation: pulse 2s ease-out;
  animation: pulse 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes pulse {
  from {
    stroke-width: 15;
    stroke-opacity: 1; }

  to {
    stroke-width: 50;
    stroke-opacity: 0; } }
@keyframes pulse {
  from {
    stroke-width: 15;
    stroke-opacity: 1; }

  to {
    stroke-width: 50;
    stroke-opacity: 0; } }
.leaflet-container {
  width: 100%;
  height: 100%; }

.main-container {
  overflow: hidden; }

.menu-left {
  background: #974b95; }
  .menu-left .scroll-content {
    padding: 0 10px; }
  .menu-left .button-block {
    border-radius: 5px;
    font-size: 14px; }

.bar .button.button-logo {
  width: 45px;
  background: url(../images/logo_pn.svg) top right no-repeat;
  position: absolute;
  top: 5px;
  left: 0;
  border: none; }
  .bar .button.button-logo:before {
    margin-left: -48px; }

.bar .button.button-icon [class*="ion-android"]:before {
  font-size: 22px; }
.bar .button.button-icon [class*="ion-android"].ion-android-more:before {
  font-size: 22px;
  line-height: 34px;
  padding-right: 7px;
  padding-left: 7px; }
.bar .button.button-icon [class*="ion-android"].ion-android-arrow-back:before {
  font-size: 14px; }

.icon-geotrek-difficulty2:before {
  font-size: 34px;
  margin-top: 6px; }

.icon-geotrek-level1 {
  line-height: 10px; }
  .icon-geotrek-level1:before {
    font-size: 52px; }

.platform-ios .ion-android-forums:before {
  content: "\f16b"; }

.platform-ios .ion-android-share:before {
  content: "\f1f1"; }

@font-face {
  font-family: "geotrek-mobile";
  src: url("../fonts/geotrek-mobile.eot");
  src: url("../fonts/geotrek-mobile.eot?#iefix") format("embedded-opentype"), url("../fonts/geotrek-mobile.woff") format("woff"), url("../fonts/geotrek-mobile.ttf") format("truetype"), url("../fonts/geotrek-mobile.svg#geotrek-mobile") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-geotrek"]:before,
[class*=" icon-geotrek"]:before {
  font-family: "geotrek-mobile" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-geotrek-level1:before {
  content: "c"; }

.icon-geotrek-difficulty1:before {
  content: "d"; }

.icon-geotrek-difficulty2:before {
  content: "e"; }

/*# sourceMappingURL=geotrek-mobile.css.map */
