//
// Variables
// --------------------------------------------------


//
// Imports
// --------------------------------------------------

@import "_variables_default";
@import "_variables_customs";
@import "bourbon/dist/_bourbon";
@import "ionic/scss/_variables";
@import "ionic/scss/_mixins";




//
// Global styles
// --------------------------------------------------

body {
  background: white;
}

.flex-wrapper {
	@include display-flex();
	@include flex(1, 0);
}

.no-image {
  max-width: 100%;
  padding: 1.2em;
  background: $grayLighter;
  color: $grayLight;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  span {
    display: block;
    line-height: normal;
    white-space: initial;
  }
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

.main-container {
    overflow: hidden; // Fix ionic bug (horizontal scroll when sidebar is open)
}

.menu-left {
    background: $menu-left-bg;

    .scroll-content {
        padding: 0 10px;
    }

    .button-block {
        border-radius: 5px;
        font-size: 14px;
    }
}

.app-title {
  line-height: 2em;
  h1 {
    font-size: 1.1rem;
  }
}

.bar-header {
  padding-left: 0;
  padding-right: 0;
  .button {
    padding: 0 6px;
    &:before, i:before {
      font-size: 24px !important;
      vertical-align: middle;
    }
    &:after {
      left: 0;
      right: 0;
    }
  }
  .button-menu {
    height: 100%;
    width: 40px;
    margin-top: -10px;
  }
  .row {
    padding: 0;
    height: 100%;
    & > * {
      padding: 0;
    }
  }
  .col {
    padding: 0;
  }
  .col.buttons {
    position: relative;
  }
  .buttons.pull-right {
    position: absolute !important;
  }
}

.item p {
    color: $complementaryColor2;
}


// Partials imports
// -------------------------
@import "_icons";
@import "_trek-list";
@import "_filters-list";
@import "_trek-detail";
@import "_buttons";
@import "_slider";
@import "_bar";
@import "_action-sheet";
@import "_splashscreen";
@import "_loading-bar";
@import "_pictogram";
@import "_poi-detail";
@import "_modal";
@import "_map";
@import "_static-pages";
@import "_leaflet-custom";
@import "_user-settings";

//
// Icons specific fixes
// --------------------------------------------------

.icon {
    color: $complementaryColor2;
}

.icon-big {
  font-size: 90px;
}

.icon-geotrek-difficulty2 {
	&:before {
		font-size: 34px;
		margin-top: 6px;
	}
}

.icon-geotrek-level1 {
	line-height: 10px;

	&:before {
		font-size: 52px;
	}
}

@media (max-width: 567px) {
  .responsive-sm.row {
    flex-direction: row;
    flex-wrap: wrap;
    .col {
      flex: 1;
      min-width: 50%;
      max-width: 50%;
    }
  }
}


//Prevent ruler and credits collapsing on map for small mobiles
@media (max-width: 400px) {
  .leaflet-bottom .leaflet-control-scale {
    margin-bottom: 25px;
  }
}

//
// Custom icon font
// --------------------------------------------------

@charset "UTF-8";

@font-face {
  font-family: "geotrek-mobile";
  src:url("../fonts/geotrek-mobile.eot");
  src:url("../fonts/geotrek-mobile.eot?#iefix") format("embedded-opentype"),
    url("../fonts/geotrek-mobile.woff") format("woff"),
    url("../fonts/geotrek-mobile.ttf") format("truetype"),
    url("../fonts/geotrek-mobile.svg#geotrek-mobile") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-geotrek"]:before,
[class*=" icon-geotrek"]:before {
  font-family: "geotrek-mobile" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-geotrek-level1:before {
  content: "c";
}
.icon-geotrek-difficulty1:before {
  content: "d";
}
.icon-geotrek-difficulty2:before {
  content: "e";
}

@import "customisation";