* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.trek-list {
  padding: 0;
}
.trek-list li {
  list-style: none;
}
.trek-list__item {
  position: relative;
}
.trek-list__item .wrapper {
  display: block;
  background: #eeeeee;
  padding: 10px;
}
.trek-list__item + .trek-list__item {
  border-top: 1px solid #999999;
}
.trek-list__item__detail-bt {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
