.trek-list {
  padding: 0; }
  .trek-list li {
    list-style: none; }

.trek-list__item {
  position: relative; }
  .trek-list__item .wrapper {
    display: block;
    background: #eeeeee;
    padding: 10px; }
  .trek-list__item + .trek-list__item {
    border-top: 1px solid #999999; }

.trek-list__item__detail-bt {
  position: absolute;
  right: 10px;
  bottom: 10px; }

.bar-dark {
  padding: 0; }
  .bar-dark .button {
    border: none; }
    .bar-dark .button.activated {
      background: rgba(171, 215, 106, 0.6); }
    .bar-dark .button.active, .bar-dark .button.activated {
      box-shadow: inset 0 -4px 0 #abd76a;
      color: white; }
    .bar-dark .button:after {
      display: none; }

.bar-subheader .button-bar > .button {
  min-height: 43px;
  line-height: 44px; }
  .bar-subheader .button-bar > .button:first-child {
    border-radius: 0; }
  .bar-subheader .button-bar > .button:last-child {
    border-radius: 0; }

.bt-group__bt.active {
  background: #333333; }

#menu {
  background: #B8CEE9; }

.leaflet-container {
  width: 100%;
  height: 100%; }

.bar .button.button-icon .ion-android-more:before {
  font-size: 22px;
  line-height: 34px;
  padding-right: 7px;
  padding-left: 7px; }
