.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
  -moz-box-flex: 1;
  -moz-flex: 1 0;
  -ms-flex: 1 0;
  flex: 1 0; }

.trek-list {
  padding: 0; }
  .trek-list li {
    list-style: none; }

.trek-list__item {
  position: relative; }
  .trek-list__item .wrapper {
    display: block;
    background: #eeeeee;
    padding: 10px; }
  .trek-list__item + .trek-list__item {
    border-top: 1px solid #999999; }

.trek-list__item__detail-bt {
  position: absolute;
  right: 10px;
  bottom: 10px; }

.filters-list {
  padding: 0;
  color: white; }
  .filters-list li {
    list-style: none; }

.filters-list__item {
  margin: 10px;
  padding-top: 10px; }
  .filters-list__item + .filters-list__item {
    border-top: 1px solid white; }

.filters-list__bt {
  color: white;
  line-height: 27px;
  padding: 0; }
  .filters-list__bt:before {
    font-size: 55px; }
  .filters-list__bt + .filters-list__bt {
    margin-left: 6px; }
  .filters-list__bt:hover {
    color: white; }

.button.icon-top:before {
  display: block; }

.bar-dark {
  padding: 0; }
  .bar-dark .button {
    border: none; }
    .bar-dark .button.activated {
      background: rgba(171, 215, 106, 0.6); }
    .bar-dark .button.active, .bar-dark .button.activated {
      box-shadow: inset 0 -4px 0 #abd76a;
      color: white; }
    .bar-dark .button:after {
      display: none; }

.bar-subheader .button-bar > .button {
  min-height: 43px;
  line-height: 44px; }
  .bar-subheader .button-bar > .button:first-child {
    border-radius: 0; }
  .bar-subheader .button-bar > .button:last-child {
    border-radius: 0; }

.leaflet-container {
  width: 100%;
  height: 100%; }

.menu-left {
  background: #7da013; }

.bar .button.button-icon .ion-android-more:before {
  font-size: 22px;
  line-height: 34px;
  padding-right: 7px;
  padding-left: 7px; }

.icon-geotrek-difficulty2:before {
  font-size: 46px;
  margin-top: 6px;
  margin-bottom: 3px; }

@font-face {
  font-family: "geotrek-mobile";
  src: url("../fonts/geotrek-mobile.eot");
  src: url("../fonts/geotrek-mobile.eot?#iefix") format("embedded-opentype"), url("../fonts/geotrek-mobile.woff") format("woff"), url("../fonts/geotrek-mobile.ttf") format("truetype"), url("../fonts/geotrek-mobile.svg#geotrek-mobile") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-geotrek"]:before,
[class*=" icon-geotrek"]:before {
  font-family: "geotrek-mobile" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-geotrek-level1:before {
  content: "c"; }

.icon-geotrek-difficulty1:before {
  content: "d"; }

.icon-geotrek-difficulty2:before {
  content: "e"; }
