//
// Variables
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;




//
// Imports
// --------------------------------------------------

@import "bourbon/dist/_bourbon";
@import "ionic/scss/ionic";




//
// Global styles
// --------------------------------------------------
* {
  @include box-sizing(border-box);
}




// Partials imports
// -------------------------
@import "_trek-list";

// Filters
.bt-group {

}

.bt-group__bt {
	&.active {
		background: $grayDark;
	}
}

#menu {
	background: #B8CEE9;
}

.leaflet-container {
	width: 100%;
	height: 100%;
}

.bar .button.button-icon .ion-android-more:before {
	font-size: 24px;
}