<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon size="large" slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ poi.properties.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div *ngIf="picture && picture?.url !== ''">
      <ion-img [src]="picture?.url"></ion-img>
      <div class="card-legend ion-padding-start ion-padding-top">
        <ion-img class="img-legend" [src]="typeImgSrc"></ion-img>
        {{ poi.properties.pictures[0]?.legend }}
        <span *ngIf="!!poi.properties.pictures[0]?.author">({{ poi.properties.pictures[0].author }})</span>
      </div>
    </div>

    <ion-card-content>
      <div *ngIf="poi.properties.description" class="ion-margin-bottom">
        <ion-text>
          <div [innerHTML]="poi.properties.description"></div>
        </ion-text>
      </div>

      <div *ngIf="poi.properties.practical_info" class="ion-margin-bottom">
        <ion-text>
          <ion-label><h1 translate>trek.details.usefulInformation</h1></ion-label>
          <div [innerHTML]="poi.properties.practical_info"></div>
        </ion-text>
      </div>

      <div *ngIf="poi.properties.contact || poi.properties.email || poi.properties.website">
        <ion-text>
          <ion-label><h1 translate>trek.details.contact</h1></ion-label>
          <div
            *ngIf="poi.properties.contact && poi.properties.contact !== 'null'"
            [innerHTML]="poi.properties.contact"
          ></div>
          <div *ngIf="poi.properties.email && poi.properties.email !== 'null'" [innerHTML]="poi.properties.email"></div>
          <div
            *ngIf="poi.properties.website && poi.properties.website !== 'null'"
            [innerHTML]="poi.properties.website"
          ></div>
        </ion-text>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
