<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon size="large" slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ poi.properties.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img *ngIf="poiImg !== ''" [src]="poiImg"></ion-img>
    <ion-card-content>
      <div *ngIf="poi.properties.description" class="ion-margin-bottom">
        <ion-text>
          {{ poi.properties.description }}
        </ion-text>
      </div>

      <div *ngIf="poi.properties.practical_info" class="ion-margin-bottom">
        <ion-text>
          <ion-label><h1>Information pratiques</h1></ion-label>
          {{ poi.properties.practical_info }}
        </ion-text>
      </div>

      <div *ngIf="poi.properties.contact || poi.properties.email || poi.properties.website">
        <ion-text>
          <ion-label><h1>Contact</h1></ion-label>
          <div
            *ngIf="poi.properties.contact && poi.properties.contact !== 'null'"
            [innerHTML]="poi.properties.contact"
          ></div>
          <div *ngIf="poi.properties.email && poi.properties.email !== 'null'" [innerHTML]="poi.properties.email"></div>
          <div
            *ngIf="poi.properties.website && poi.properties.website !== 'null'"
            [innerHTML]="poi.properties.website"
          ></div>
        </ion-text>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
