<?xml version='1.0' encoding='utf-8'?>
<widget id="com.makinacorpus.geotrekmobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rando Ecrins</name>
    <description>
        Toutes les randonnées du Parc des Écrins.
    </description>
    <author email="contact@makina-corpus.com" href="http://makina-corpus.com">
        Makina Corpus Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="iosPersistentFileLocation" value="Library" />

    <!-- <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature> -->
    <preference name="useBrowserHistory" value="true" />

    <!-- for iOS -->
    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing" />
    </feature>

    <!-- for Android -->
    <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>

    <feature name="Globalization">
        <param name="id" value="org.apache.cordova.globalization" />
    </feature>

    <feature name="Geolocation">
        <param name="id" value="org.apache.cordova.geolocation" />
    </feature>
</widget>