<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button
        (click)="close()"
        class="btn-close"
        [attr.aria-label]="'trek.return' | translate"
        shape="round"
      >
        <ion-icon size="large" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'filters.title' | translate | uppercase }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="eraseFilters()"
        class="none-transform"
        color="primary"
        fill="solid"
        class="btn-erase"
      >
        {{ 'filters.erase' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="filters" #filtersView>
    <ion-list lines="none">
      <ion-item
        lines="inset"
        class="ion-margin-bottom"
        *ngFor="let filter of temporaryFilters$ | async"
      >
        <app-filter
          class="full-width"
          [commonSrc]="commonSrc"
          [filter]="filter"
          (valueChange)="
            handleFiltersState($event.checked, filter, $event.value)
          "
          (selectChange)="handleSelect($event)"
        >
        </app-filter>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>

<ion-footer
  *ngIf="filters && filters.length !== 0 && nbTemporaryFiltersTreks !== null"
>
  <ion-button
    [disabled]="nbTemporaryFiltersTreks === 0"
    (click)="applyFilters()"
    expand="full"
  >
    <ion-icon color="white" slot="start" name="funnel"></ion-icon>
    <span class="min-font" *ngIf="nbTemporaryFiltersTreks === 0" translate
      >filters.zeroresult</span
    >
    <span *ngIf="nbTemporaryFiltersTreks === 1" translate
      >filters.oneresult</span
    >
    <span *ngIf="nbTemporaryFiltersTreks > 1">
      {{ 'filters.results' | translate: { nb: nbTemporaryFiltersTreks } }}
    </span>
  </ion-button>
</ion-footer>
