<div
  [style.color]="value.textColor ? value.textColor : defaultTextColor"
  class="filter-button ion-activatable"
  (click)="onfilterAndGo()"
>
  <div
    [style.background-color]="
      value.color ? value.color : defaultBackgroundColor
    "
    class="filter-button-background"
  ></div>
  <ion-img
    style="width: 32px; height: 32px"
    *ngIf="value.pictogram && !this.hideImgPracticeSrc"
    [src]="imgPracticeSrc"
    (ionError)="onImgPracticeSrcError()"
  ></ion-img>
  <div>{{ value.name }}</div>
  <ion-ripple-effect></ion-ripple-effect>
</div>
