<ion-card>
  <ion-img
    *ngIf="
      informationDesk.picture && informationDesk.picture !== '';
      else displayIcon
    "
    [src]="picture"
    aria-hidden="true"
  ></ion-img>
  <ng-template #displayIcon>
    <div class="display-icon-container">
      <ion-icon size="large" name="image-outline"></ion-icon>
    </div>
  </ng-template>
  <ion-card-header class="ion-text-left">
    <div class="card-header-container">
      <ion-card-title>
        <h3 class="ion-no-margin" [innerHTML]="informationDesk.name"></h3>
      </ion-card-title>
    </div>
  </ion-card-header>
  <ion-card-content>
    <ion-button fill="clear" (click)="presentInformationDeskDetails()"
      >Plus d'informations</ion-button
    >
  </ion-card-content>
</ion-card>
