<ion-tabs>
  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button tab="treks">
      <ion-icon name="walk"></ion-icon>
      {{ 'tabbar.treks' | translate }}
    </ion-tab-button>
    <ion-tab-button tab="treks-offline">
      <ion-icon name="save"></ion-icon>
      {{ 'tabbar.offline' | translate }}
    </ion-tab-button>
    <ion-tab-button tab="more">
      <ion-icon name="information-circle-outline"></ion-icon>
      {{ 'tabbar.more' | translate }}
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
