<ion-content class="ion-padding">
  <div class="ion-text-center">
    <ion-icon color="primary" size="large" name="pin"></ion-icon>
  </div>
  <div>
    <ion-text>
      <h1>{{ 'inAppDisclosure.title' | translate }}</h1>
    </ion-text>
  </div>
  <div class="ion-margin-top">
    <ion-text>
      {{ 'inAppDisclosure.description' | translate }}
    </ion-text>
  </div>
  <div class="ion-margin-top">
    <ion-text>
      {{ 'inAppDisclosure.geolocateFeatures' | translate }}
    </ion-text>
  </div>
  <ul class="ion-no-margin">
    <li class="ion-margin-top">
      <ion-text>
        {{ 'inAppDisclosure.geolocateForMap' | translate }}
      </ion-text>
    </li>
    <li class="ion-margin-top">
      <ion-text>
        {{ 'inAppDisclosure.geolocateForSort' | translate }}
      </ion-text>
    </li>
    <li class="ion-margin-top">
      <ion-text>
        {{ 'inAppDisclosure.geolocateForNavigate' | translate }}
      </ion-text>
    </li>
    <li class="ion-margin-top">
      <ion-text>
        {{ 'inAppDisclosure.geolocateForNotification' | translate }}
      </ion-text>
    </li>
  </ul>
  <div class="ion-margin-top">
    <ion-text>
      {{ 'inAppDisclosure.dataUsage' | translate }}
    </ion-text>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="close()">
    <ion-icon color="white" slot="start" name="checkmark"></ion-icon>
    {{ 'inAppDisclosure.displayRequest' | translate }}
  </ion-button>
</ion-footer>
