<div class="progress-container">
  <ion-card>
    <ion-card-content [ngSwitch]="currentProgress !== 1">
      <div *ngSwitchCase="true">
        <div>
          {{ 'trek.downloadAlert.loading' | translate }}
        </div>
        <div>
          <ion-progress-bar [value]="currentProgress" type="determinate">
          </ion-progress-bar>
        </div>
      </div>
      <div *ngSwitchCase="false">
        <div
          style="display:flex; justify-content: center; align-items: center;"
        >
          <ion-spinner name="crescent"></ion-spinner>
          <div style="margin-left: 12px;">
            {{ 'trek.downloadAlert.storage' | translate }}
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
