<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/more"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="moreItem">{{ moreItem.title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-loader></app-loader>
  <app-connect-error
    *ngIf="connectionError; else moreItemTemplate"
    icon="wifi"
    [title]="'error.title' | translate"
    [content]="'error.contentMoreItem' | translate"
    [buttonText]="'error.retry' | translate"
    (retry)="refresh()"
  >
  </app-connect-error>
  <ng-template #moreItemTemplate>
    <ion-grid fixed *ngIf="!!moreItem">
      <ion-row>
        <ion-col>
          <div [innerHTML]="moreItem.content"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
