<ion-app>
  <ion-menu side="start" contentId="main" swipeGesture="false">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ appName }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle
          routerLink="tabs/home"
          class="pointer"
          [ngClass]="{
            'selected-menu': this.currentRoute === '/tabs/home'
          }"
        >
          <ion-item>
            <ion-icon name="home" slot="start"></ion-icon
            ><ion-label>
              {{ 'tabbar.home' | translate }}
            </ion-label></ion-item
          >
        </ion-menu-toggle>
        <ion-menu-toggle
          routerLink="tabs/treks"
          class="pointer"
          [ngClass]="{
            'selected-menu':
              this.currentRoute === '/tabs/treks' ||
              this.currentRoute === '/treks-map'
          }"
        >
          <ion-item>
            <ion-icon name="walk" slot="start"></ion-icon
            ><ion-label>
              {{ 'tabbar.treks' | translate }}
            </ion-label></ion-item
          >
        </ion-menu-toggle>
        <ion-menu-toggle
          routerLink="tabs/treks-offline"
          class="pointer"
          [ngClass]="{
            'selected-menu':
              this.currentRoute === '/tabs/treks-offline' ||
              this.currentRoute === '/treks-offline-map'
          }"
        >
          <ion-item>
            <ion-icon name="save" slot="start"></ion-icon
            ><ion-label>{{ 'tabbar.offline' | translate }}</ion-label></ion-item
          >
        </ion-menu-toggle>
        <ion-menu-toggle
          routerLink="tabs/more"
          class="pointer"
          [ngClass]="{ 'selected-menu': this.currentRoute === '/tabs/more' }"
        >
          <ion-item>
            <ion-icon name="information-circle-outline" slot="start"></ion-icon
            ><ion-label>{{ 'tabbar.more' | translate }}</ion-label></ion-item
          >
        </ion-menu-toggle>
        <ion-menu-toggle
          routerLink="tabs/emergency"
          class="pointer"
          [ngClass]="{
            'selected-menu': this.currentRoute === '/tabs/emergency'
          }"
        >
          <ion-item>
            <ion-icon name="medical-outline" slot="start"></ion-icon
            ><ion-label>{{
              'tabbar.emergency' | translate
            }}</ion-label></ion-item
          >
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main" main></ion-router-outlet>
</ion-app>
