<ng-container *ngFor="let item of alwaysDisplayedItems">
  <ng-container *ngTemplateOutlet="itemTemplate; context: { item: item }"> </ng-container>
</ng-container>
<ng-container *ngIf="expandableItems.length > 0">
  <div [@expandCollapse]="" *ngIf="expanded">
    <ng-container *ngFor="let item of expandableItems">
      <ng-container *ngTemplateOutlet="itemTemplate; context: { item: item }"> </ng-container>
    </ng-container>
  </div>
  <ion-button fill="outline" (click)="toggleExpandables()" [ngSwitch]="expanded">
    <ng-container *ngSwitchCase="false">
      {{ showAllLabel }}
    </ng-container>
    <ng-container *ngSwitchCase="true">
      {{ hideAllLabel }}
    </ng-container>
  </ion-button>
</ng-container>
