<ion-header>
  <ion-toolbar color="primary">
    <ion-title> {{ appName }} </ion-title>
  </ion-toolbar>
  <ion-toolbar
    *ngIf="(!(onlineTreks.onlineTreksError$ | async) && !offline && !noNetwork) || (offline && nbOfflineTreks > 0)"
  >
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="auto" class="vertical-center">
          <ion-button
            (click)="presentFilters()"
            color="light"
            size="small"
            class="custom-button"
            [disabled]="loaderStatus"
          >
            {{ 'toolbar.filters' | translate }}
            {{ numberOfActiveFilters }}
          </ion-button>
          <ion-button
            (click)="presentSearch()"
            color="light"
            size="small"
            class="custom-button button-margin-left"
            [disabled]="loaderStatus"
          >
            {{ 'toolbar.search' | translate }}
          </ion-button>
        </ion-col>
        <ion-col text-right [ngClass]="{ 'list-mode-card': this.colSize === 12, 'list-mode-disabled': loaderStatus }">
          <ion-button class="toolbar-button" (click)="showTreksOrder($event)" fill="clear" color="dark">
            <ion-icon slot="icon-only" name="swap" size="large"></ion-icon>
          </ion-button>

          <ion-button class="toolbar-button" (click)="changeColSize()" fill="clear" color="dark">
            <ion-icon [name]="colSize === 12 ? 'apps' : 'reorder'" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content style="position : relative" #content>
  <app-loader></app-loader>
  <ng-container *ngIf="!offline; else treksList">
    <app-connect-error
      *ngIf="(onlineTreks.onlineTreksError$ | async) || noNetwork; else treksList"
      icon="wifi"
      [title]="'error.title' | translate"
      [content]="'error.contentTreks' | translate"
      [buttonText]="'error.buttonText' | translate"
      (retry)="onlineTreks.loadTreks()"
    >
    </app-connect-error>
  </ng-container>

  <ng-template #treksList>
    <div *ngIf="!!filteredTreks && filteredTreks.length > 0; else noTreks">
      <ion-list>
        <ion-grid fixed>
          <ion-row class="ion-padding-start" size="12">
            <ion-text>
              <h1 *ngIf="filteredTreks.length === 1" translate>
                treks.numberOftrek
              </h1>
              <h1 *ngIf="filteredTreks.length > 1">
                {{ filteredTreks.length }} <span translate>treks.numberOftreks</span>
              </h1>
            </ion-text>
          </ion-row>
          <ion-row align-items-stretch>
            <ion-col
              [size]="colSize"
              [sizeMd]="getMdColSize()"
              *ngFor="let trek of filteredTreks | slice: 0:currentMaxTreks; trackBy: trackTrek"
            >
              <app-trek-card [showAllData]="this.colSize === 12" [trek]="trek" [offline]="offline"></app-trek-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </div>

    <ion-fab *ngIf="!!filteredTreks && filteredTreks.length > 0" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="no-outline" [routerLink]="[mapLink]">
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="expandTreks($event)">
      <ion-infinite-scroll-content> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>

  <ng-template #noTreks>
    <ng-container *ngIf="offline">
      <ng-container>
        <ion-grid class="flex-container" [ngSwitch]="nbOfflineTreks > 0">
          <ng-container *ngSwitchCase="true">
            <ion-row>
              <ion-col *ngIf="nbOfflineTreks === 1" translate>
                treks.noOfflineResult
              </ion-col>
              <ion-col *ngIf="nbOfflineTreks > 1" translate>
                treks.noOfflineResults
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button (click)="resetFilters()" color="light">
                  <span translate>
                    treks.showAllTreks
                  </span>
                </ion-button>
              </ion-col>
            </ion-row>
          </ng-container>
          <ion-row *ngSwitchCase="false">
            <ion-col>
              <span translate>
                treks.emptyOfflineTreks
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </ng-container>
  </ng-template>
</ion-content>
