.list-mode-card {
  position: relative;
}

.list-mode-disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.custom-button {
  text-transform: capitalize;
}

@media screen and (min-width: 340px) {
  .custom-button {
    width: 100px;
  }
}

.button-margin-left {
  margin-left: 12px;
}

.toolbar-button {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}

.vertical-center {
  display: flex;
  align-items: center;
}
