<ion-card
  *ngIf="hydratedTrek"
  class="no-outline pointer extand-card ion-activatable"
  [routerLink]="this.routerLink"
  role="buton"
  [attr.aria-label]="
    hydratedTrek.properties.name.concat(
      ' ',
      'treks.departure' | translate,
      ' : ',
      hydratedTrek.properties.departure,
      ' ',
      hydratedTrek.properties.difficulty
        ? ('trek.details.difficulty' | translate)
            .concat(' : ')
            .concat(hydratedTrek.properties.difficulty.name, ' ')
        : '',
      hydratedTrek.properties.duration
        ? ('trek.details.duration' | translate).concat(
            ' : ',
            hydratedTrek.properties.duration < 24
              ? !minutes
                ? (hours | lowerRound | number: '1.0-0')!.concat('h')
                : (hours | lowerRound | number: '1.0-0')!.concat(
                    'h',
                    (minutes | lowerRound | number: '1.0-0')!,
                    'min'
                  )
              : (days | number: '1.0-0')!.concat('j'),
            ' '
          )
        : '',
      hydratedTrek.properties.length
        ? ('trek.details.length' | translate)
            .concat(' : ')
            .concat(
              (hydratedTrek.properties.length / 1000
                | number: '1.1-1':'fr')!.concat('km')
            )
        : ''
    )
  "
>
  <ion-ripple-effect></ion-ripple-effect>
  <div>
    <ion-img
      *ngIf="this.imgSrc && !this.hideImgSrc"
      class="min-size-img"
      [src]="this.imgSrc"
      (ionError)="onImgSrcError()"
      aria-hidden="true"
    ></ion-img>
    <ion-card-header [ngClass]="{ 'minimize-padding': !showAllData }">
      <ion-card-title [ngClass]="{ 'minimize-title': !showAllData }">
        {{
          isStage
            ? ('trek.details.stage' | translate) + ' ' + numStage + ' - '
            : ''
        }}
        {{ hydratedTrek.properties.name }}
      </ion-card-title>
    </ion-card-header>
  </div>
  <div>
    <ion-card-content [ngClass]="{ 'minimize-padding': !showAllData }">
      <div *ngIf="hydratedTrek.properties.departure">
        <div class="ellipsis">{{ 'treks.departure' | translate }}</div>
        <div class="ellipsis">
          {{ hydratedTrek.properties.departure }}
        </div>
        <div
          class="ellipsis"
          *ngIf="
            !hydratedTrek.properties.departure &&
            hydratedTrek.properties.departure_city
          "
        >
          {{ hydratedTrek.properties.departure_city.name }}
        </div>
      </div>
      <div class="extra-content-card">
        <div>
          <ion-img
            *ngIf="this.imgPracticeSrc && !this.hideImgPracticeSrc"
            class="picto-practice"
            [style.background-color]="hydratedTrek.properties.practice.color"
            [src]="imgPracticeSrc"
            (ionError)="onImgPracticeSrcError()"
            alt="{{ hydratedTrek.properties.practice.name }}"
          ></ion-img>
        </div>
        <div
          class="ion-padding-start"
          *ngIf="hydratedTrek.properties.difficulty"
        >
          {{ hydratedTrek.properties.difficulty.name }}
        </div>
        <div
          class="ion-padding-start"
          *ngIf="showAllData && hydratedTrek.properties.duration"
        >
          <div *ngIf="hydratedTrek.properties.duration < 24; else showDays">
            {{ hours | lowerRound | number: '1.0-0' }}h
            <span *ngIf="minutes">{{ minutes | number: '1.0-0' }}min </span>
          </div>
          <ng-template #showDays> {{ days | number: '1.0-0' }}j </ng-template>
        </div>

        <div *ngIf="showAllData" class="ion-padding-start">
          {{ hydratedTrek.properties.length / 1000 | number: '1.1-1':'fr' }}km
        </div>
      </div>
    </ion-card-content>
  </div>
</ion-card>
