.extand-card {
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.picto-practice {
  max-width: 24px;
  max-height: 24px;
}

.extra-content-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 12px;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.minimize-title {
  font-size: 16px;
}

ion-card-header {
  padding: 16px 16px 16px 16px;
}

ion-card-content {
  padding: 0px 16px 16px 16px;
}

ion-card-header.minimize-padding {
  padding: 8px 8px 8px 8px;
}

ion-card-content.minimize-padding {
  padding: 0px 8px 8px 8px;
}
