.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.font-medium {
  font-size: 18px;
}

.extra-details {
  line-height: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-detail {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
}

ion-header {
  .custom-title {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.0125em;
  }
}
