<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="treksUrl"></ion-back-button>
    </ion-buttons>
    <div *ngIf="currentTrek" class="custom-title">
      <ion-text>{{ currentTrek.properties.name }}</ion-text>
    </div>
    <ion-buttons slot="primary">
      <ion-button (click)="presentDownloadConfirm()">
        <ion-icon slot="icon-only" name="download"></ion-icon>
      </ion-button>
      <ion-button (click)="shareTrek()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-loader *ngIf="!trekDownloading"></app-loader>
  <ng-container *ngIf="connectionError && !offline; else trekDetail">
    <app-connect-error
      icon="wifi"
      [title]="'error.title' | translate"
      [content]="'error.contentTrekMap' | translate"
      [buttonText]="'error.buttonText' | translate"
      (retry)="refresh()"
    >
    </app-connect-error>
  </ng-container>
  <ng-template #trekDetail>
    <ion-fab *ngIf="currentTrek" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="no-outline" [routerLink]="mapLink">
        <ion-icon name="map"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <div *ngIf="currentTrek">
      <ion-slides *ngIf="currentTrek.properties.pictures && currentTrek.properties.pictures.length > 0" pager="true">
        <ion-slide *ngFor="let picture of currentTrek.properties.pictures">
          <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <ion-img [src]="getPictureSrc(picture)" [alt]="picture.title"></ion-img>
            <div class="ion-padding-top legend-text">
              {{ picture!.legend }}
              <span *ngIf="!!picture.author">({{ picture!.author }})</span>
            </div>
          </div>
        </ion-slide>
      </ion-slides>

      <ion-grid fixed>
        <!-- Teaser -->
        <ion-row *ngIf="currentTrek.properties.description_teaser">
          <ion-col class="bold">
            <div [innerHTML]="currentTrek.properties.description_teaser"></div>
          </ion-col>
        </ion-row>

        <!-- Ambiance -->
        <ion-row *ngIf="currentTrek.properties.ambiance">
          <ion-col class="italic">
            <div [innerHTML]="currentTrek.properties.ambiance"></div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">{{ 'trek.details.features' | translate }}</h2>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isItinerancy">
          <ion-col>
            <ion-button (click)="scrollToStages(stages)" fill="outline">
              {{ currentTrek.properties.children.features.length }} {{ 'trek.details.stages' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>

        <!-- Informations -->
        <ion-row *ngIf="currentTrek.properties.departure || currentTrek.properties.arrival">
          <ion-col>
            <div
              *ngIf="
                (currentTrek.properties.departure || currentTrek.properties.arrival) &&
                currentTrek.properties.departure !== currentTrek.properties.arrival
              "
            >
              <div *ngIf="currentTrek.properties.departure && currentTrek.properties.departure.length > 0">
                <ion-text color="primary">
                  <h5>{{ 'trek.details.departure' | translate }}</h5>
                </ion-text>
                <div *ngIf="currentTrek.properties.departure_city">
                  {{ 'trek.details.city' | translate }} {{ currentTrek.properties.departure_city?.name }}
                </div>
                {{ currentTrek.properties.departure }}
              </div>

              <div *ngIf="currentTrek.properties.arrival && currentTrek.properties.arrival.length > 0">
                <ion-text color="primary">
                  <h5>{{ 'trek.details.arrival' | translate }}</h5>
                </ion-text>
                <div *ngIf="currentTrek.properties.arrival_city">
                  {{ 'trek.details.city' | translate }} {{ currentTrek.properties.arrival_city?.name }}
                </div>
                {{ currentTrek.properties.arrival }}
              </div>
            </div>
            <div
              *ngIf="
                (currentTrek.properties.departure || currentTrek.properties.arrival) &&
                currentTrek.properties.departure === currentTrek.properties.arrival
              "
            >
              <ion-text color="primary">
                <h5>{{ 'trek.details.departureArrival' | translate }}</h5>
              </ion-text>
              <div>
                <div *ngIf="currentTrek.properties.departure_city">
                  {{ 'trek.details.city' | translate }} {{ currentTrek.properties.departure_city?.name }}
                </div>
                <div>
                  {{ currentTrek.properties.departure }}
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row marginTop class="font-medium ion-margin-top">
          <ion-col size="6">
            <div *ngIf="currentTrek.properties.duration" class="extra-details">
              <ion-icon class="icon-detail" name="hourglass"></ion-icon>
              <span *ngIf="currentTrek.properties.duration < 24">
                {{ currentTrek.properties.duration | number: '1.0-0' }}h<span
                  *ngIf="currentTrek.properties.duration % 1 > 0"
                  >{{ 60 * (currentTrek.properties.duration % 1) | number: '1.0-0' }}min</span
                >
              </span>
              <span *ngIf="currentTrek.properties.duration >= 24">
                {{ currentTrek.properties.duration / 24 | number: '1.0-0' }}j</span
              >
            </div>
            <div *ngIf="currentTrek.properties.ascent" class="extra-details">
              <ion-icon class="icon-detail" name="trending-up"></ion-icon>
              {{ currentTrek.properties.ascent }} m
            </div>
            <div *ngIf="currentTrek.properties.route" class="extra-details">
              <ion-icon class="icon-detail" name="swap"></ion-icon>
              {{ currentTrek.properties.route.name }}
            </div>
          </ion-col>
          <ion-col size="6">
            <div *ngIf="currentTrek.properties.difficulty" class="extra-details">
              <ion-img
                *ngIf="currentTrek.properties.difficulty.pictogram"
                class="icon-detail"
                [src]="commonSrc + (currentTrek.properties.difficulty.pictogram || '')"
              ></ion-img>
              {{ currentTrek.properties.difficulty.name }}
            </div>
            <div *ngIf="currentTrek.properties.length" class="extra-details">
              <ion-icon class="icon-detail" name="resize"></ion-icon>
              {{ currentTrek.properties.length / 1000 | number: '1.2-2' }} km
            </div>
            <div *ngIf="currentTrek.properties.practice" class="extra-details">
              <ion-img
                *ngIf="currentTrek.properties.practice.pictogram"
                [style.background-color]="currentTrek.properties.practice.color"
                class="icon-detail"
                [src]="commonSrc + (currentTrek.properties.practice.pictogram || '')"
              ></ion-img>
              {{ currentTrek.properties.practice.name }}
            </div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="currentTrek.properties.themes && currentTrek.properties.themes.length > 0">
          <ion-col size="12">
            <ion-text color="primary">
              <h5>{{ 'trek.details.theme' | translate }}</h5>
            </ion-text>
          </ion-col>
          <ion-col size="6" *ngFor="let theme of currentTrek.properties.themes">
            <div>
              <ion-img
                *ngIf="theme.pictogram"
                class="icon-detail"
                [src]="commonSrc + (theme.pictogram || '')"
              ></ion-img>
              {{ theme.name }}
            </div>
          </ion-col>
        </ion-row>

        <!-- Description -->
        <ion-row>
          <ion-col>
            <div *ngIf="currentTrek.properties.description">
              <ion-text color="primary">
                <h2 class="custom-divider">{{ 'trek.details.description' | translate }}</h2>
              </ion-text>
              <div [innerHTML]="currentTrek.properties.description"></div>
            </div>
            <div *ngIf="currentTrek.properties.networks && currentTrek.properties.networks.length > 0">
              <ion-text color="primary">
                <h5 class="inline">Balisage</h5>
              </ion-text>
              <div *ngFor="let network of currentTrek.properties.networks">
                <ion-img
                  *ngIf="network.pictogram"
                  class="icon-detail"
                  [src]="commonSrc + (network.pictogram || '')"
                ></ion-img>
                <span>{{ network.name }}</span>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <!-- Children -->
        <div #stages>
          <ion-row *ngIf="currentTrek.properties.children && currentTrek.properties.children.features.length > 0">
            <ion-col>
              <div>
                <ion-text color="primary">
                  <h2 class="custom-divider">
                    {{ 'trek.details.stages' | translate }} ({{ currentTrek.properties.children.features.length }})
                  </h2>
                </ion-text>
              </div>
              <div class="treks-card-container" scrollx="true">
                <div class="scroll-trek-item" *ngFor="let trek of currentTrek.properties.children.features">
                  <app-trek-card [showAllData]="true" [trek]="trek" [offline]="offline"></app-trek-card>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <!-- Parents -->
        <!-- <ion-row *ngIf="currentTrek.properties.parents && currentTrek.properties.parents.features.length > 0">
          <ion-col>
            <div>
              <ion-text color="primary">
                <h2 class="custom-divider">
                  {{ 'trek.details.parents' | translate }} ({{ currentTrek.properties.parents.features.length }})
                </h2>
              </ion-text>
            </div>
            <div class="treks-card-container" scrollx="true">
              <div class="scroll-trek-item" *ngFor="let trek of currentTrek.properties.parents.features">
                <app-trek-card [showAllData]="true" [trek]="trek" [offline]="offline"></app-trek-card>
              </div>
            </div>
          </ion-col>
        </ion-row> -->

        <!-- Profile -->
        <ion-row *ngIf="currentTrek.properties.profile && currentTrek.properties.profile !== ''">
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">{{ 'trek.details.profile' | translate }}</h2>
            </ion-text>
            <div>
              <ion-img [src]="getPictureSrc({ url: currentTrek.properties.profile })"></ion-img>
            </div>
          </ion-col>
        </ion-row>

        <!-- Rules -->
        <ion-row *ngIf="currentTrek.properties.is_park_centered">
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">{{ 'trek.details.rules' | translate }}</h2>
            </ion-text>
            <p>Cet itinéraire est dans le coeur du parc national, veuillez respecter la réglementation.</p>
            <div>
              <ion-img src="assets/image/reglementation.jpg" alt="rules"> </ion-img>
            </div>
          </ion-col>
        </ion-row>

        <!-- Access -->
        <ion-row *ngIf="currentTrek.properties.access">
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">{{ 'trek.details.access' | translate }}</h2>
            </ion-text>
            <div [innerHTML]="currentTrek.properties.access"></div>
          </ion-col>
        </ion-row>

        <!-- Parking -->
        <ion-row *ngIf="currentTrek.properties.advised_parking">
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">{{ 'trek.details.parking' | translate }}</h2>
            </ion-text>
            <div [innerHTML]="currentTrek.properties.advised_parking"></div>
          </ion-col>
        </ion-row>

        <!-- Recommandations -->
        <ion-row *ngIf="currentTrek.properties.advice">
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">{{ 'trek.details.advice' | translate }}</h2>
            </ion-text>
            <div [innerHTML]="currentTrek.properties.advice"></div>
          </ion-col>
        </ion-row>

        <!-- Lieux de renseignement -->
        <ion-row
          *ngIf="currentTrek.properties.information_desks && currentTrek.properties.information_desks.length > 0"
        >
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">{{ 'trek.details.desk' | translate }}</h2>
            </ion-text>
            <div *ngFor="let information_desk of currentTrek.properties.information_desks">
              <h3 [innerHTML]="information_desk.name"></h3>
              <ion-img
                class="min-size-img"
                *ngIf="information_desk.picture && information_desk.picture !== ''"
                [src]="baseUrl + information_desk.picture"
              ></ion-img>
              <div [innerHTML]="information_desk.description"></div>
              <div [innerHTML]="information_desk.street"></div>
              <p>{{ information_desk.postal_code }} {{ information_desk.municipality }}</p>
              <p>
                <a [href]="information_desk.website"> Site web </a> -
                <a [href]="'mailto:' + information_desk.email"> Email </a> -
                <a [href]="'tel:' + information_desk.phone">{{ information_desk.phone }}</a>
              </p>
            </div>
          </ion-col>
        </ion-row>

        <!-- Pois -->
        <ion-row *ngIf="currentPois && currentPois.length > 0 && !isItinerancy">
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">{{ 'trek.details.poi.name' | translate }} ({{ currentPois.length }})</h2>
            </ion-text>

            <ng-template #poiTemplate let-poi="item">
              <app-poi [poi]="poi" [commonSrc]="commonSrc" [typePois]="typePois" [offline]="offline"></app-poi>
            </ng-template>

            <app-collapsible-list
              [items]="currentPois"
              [showAllLabel]="'trek.details.poi.showAllLabel' | translate"
              [hideAllLabel]="'trek.details.poi.hideAllLabel' | translate"
              [itemTemplate]="poiTemplate"
              [initialSize]="poiCollapseInitialSize"
            >
            </app-collapsible-list>
          </ion-col>
        </ion-row>

        <!-- Touristic Contens -->
        <div *ngIf="touristicCategoriesWithFeatures && touristicCategoriesWithFeatures.length > 0 && !isItinerancy">
          <ion-row *ngFor="let touristicCategoryWithFeatures of this.touristicCategoriesWithFeatures">
            <ion-col>
              <ion-text color="primary">
                <h2 class="custom-divider">
                  {{ touristicCategoryWithFeatures.name }} ({{ touristicCategoryWithFeatures.features.length }})
                </h2>
              </ion-text>

              <ng-template #touristicContentTemplate let-touristicContent="item">
                <app-poi [poi]="touristicContent" [offline]="offline"></app-poi>
              </ng-template>

              <app-collapsible-list
                [items]="touristicCategoryWithFeatures.features"
                [showAllLabel]="'trek.details.touristicContent.showAllLabel' | translate"
                [hideAllLabel]="'trek.details.touristicContent.hideAllLabel' | translate"
                [itemTemplate]="touristicContentTemplate"
                [initialSize]="touristicContentCollapseInitialSize"
              >
              </app-collapsible-list>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </ng-template>
</ion-content>
