<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="treksUrl"
        [attr.aria-label]="'trek.return' | translate"
      ></ion-back-button>
    </ion-buttons>
    <h1 *ngIf="currentTrek" class="custom-title">
      <ion-text *ngIf="isStage"
        >{{ 'trek.details.stage' | translate }} {{ stageIndex + 1 }} -</ion-text
      ><ion-text> {{ currentTrek.properties.name }}</ion-text>
    </h1>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons *ngIf="currentTrek" class="download-container">
      <ion-button
        *ngIf="!offline && !isAvailableOffline"
        (click)="presentDownloadConfirm()"
      >
        {{ 'trek.offline' | translate }}
        <ion-icon slot="start" name="download" aria-hidden="true"></ion-icon>
      </ion-button>
      <ion-button
        *ngIf=" isAvailableOffline && !isStage"
        (click)="clickDeleteConfirm($event)"
      >
        {{ 'trek.offline' | translate }}
        <ion-icon slot="start" name="trash" aria-hidden="true"></ion-icon>
      </ion-button>
      <ion-button
        [href]="adminApiUrl + '/' + currentTrek.properties.id + '/' + currentTrek.properties.slug! + '.pdf'"
        [download]="currentTrek.properties.slug! + '.pdf'"
        fill="clear"
        expand="full"
      >
        PDF
        <ion-icon slot="start" name="document" aria-hidden="true"></ion-icon>
      </ion-button>
      <ion-button
        [href]="adminApiUrl + '/' + currentTrek.properties.id + '/' + currentTrek.properties.slug! + '.gpx'"
        [download]="currentTrek.properties.slug! + '.gpx'"
        fill="clear"
        expand="full"
      >
        GPX
        <ion-icon slot="start" name="document" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons *ngIf="currentTrek" class="extra-toolbar-container">
      <ion-button (click)="GoToTrekDeparture()">
        {{ 'trek.details.goToDeparture' | translate }}
        <ion-icon
          slot="start"
          name="return-up-forward"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
      <ion-button (click)="shareTrek()">
        {{ 'trek.share' | translate }}
        <ion-icon
          slot="start"
          name="share-social"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container
    *ngIf="(connectionError && !offline) || (!connectionError && !offline && !currentTrek); else trekDetailTemplate"
  >
    <ng-container
      *ngIf="!connectionError && !offline && !currentTrek; else connectError"
    >
      <div class="spinner-container">
        <ion-spinner color="primary"></ion-spinner>
      </div>
    </ng-container>
    <ng-template #connectError>
      <app-connect-error
        *ngIf="connectionError && !offline"
        icon="wifi"
        [title]="'error.title' | translate"
        [content]="'error.contentTrekMap' | translate"
        [buttonText]="'error.buttonText' | translate"
        (retry)="refresh()"
      >
      </app-connect-error>
    </ng-template>
  </ng-container>
  <ng-template #trekDetailTemplate>
    <ion-fab
      *ngIf="currentTrek"
      vertical="bottom"
      horizontal="end"
      slot="fixed"
    >
      <ion-fab-button class="no" [routerLink]="mapLink">
        <ion-icon name="map"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <div *ngIf="currentTrek">
      <swiper-container
        [modules]="swiperModules"
        *ngIf="currentTrek.properties.pictures && currentTrek.properties.pictures.length > 0"
        [pagination]="true"
      >
        <swiper-slide *ngFor="let picture of pictures">
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            "
          >
            <ion-img
              [src]="picture.url"
              [alt]="picture.title"
              aria-hidden="true"
            ></ion-img>
            <div class="legend-text legend-slide-margin">
              {{ picture.legend }}
              <span *ngIf="picture.author">({{ picture.author }})</span>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>

      <ion-grid>
        <ion-row *ngIf="currentTrek.properties.description_teaser">
          <ion-col class="bold">
            <div [innerHTML]="currentTrek.properties.description_teaser"></div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="currentTrek.properties.ambiance">
          <ion-col class="italic">
            <div [innerHTML]="currentTrek.properties.ambiance"></div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isStage">
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">
                {{ 'trek.details.parents' | translate }}
              </h2>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isStage">
          <ion-col class="no-vertical-padding">
            <div>{{ parentTrek.properties.name }}</div>
            <div>
              {{ parentTrek.properties.children.features.length }} {{
              'trek.details.stages' | translate }}
            </div>
            <div class="stage-container">
              <ion-button
                [routerLink]="goToStep(previousTrek.properties.id)"
                *ngIf="previousTrek"
                [ngClass]="{ 'next-previous-stage': nextTrek, 'is-alone': !nextTrek }"
                class="stage-button stage-button-previous"
                fill="clear"
                expand="full"
                size="large"
              >
                {{ 'trek.details.stage' | translate }} {{ stageIndex }} - {{
                previousTrek.properties.name }}
                <ion-icon name="arrow-back" slot="start"></ion-icon>
              </ion-button>
              <ion-button
                [routerLink]="goToStep(nextTrek.properties.id)"
                *ngIf="nextTrek"
                [ngClass]="{ 'next-previous-stage': previousTrek, 'is-alone': !previousTrek }"
                class="stage-button stage-button-next"
                fill="clear"
                expand="full"
                size="large"
              >
                {{ 'trek.details.stage' | translate }} {{ stageIndex + 2 }} - {{
                nextTrek.properties.name }}
                <ion-icon name="arrow-forward" slot="end"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">
                {{ 'trek.details.features' | translate }}
              </h2>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isItinerancy">
          <ion-col>
            <ion-button (click)="scrollToStages(stages)" fill="outline">
              {{ currentTrek.properties.children.features.length }} {{
              'trek.details.stages' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row
          *ngIf="currentTrek.properties.departure || currentTrek.properties.arrival"
        >
          <ion-col>
            <div
              class="no-vertical-padding"
              *ngIf="
                (currentTrek.properties.departure || currentTrek.properties.arrival) &&
                currentTrek.properties.departure !== currentTrek.properties.arrival
              "
            >
              <div
                *ngIf="currentTrek.properties.departure && currentTrek.properties.departure.length > 0"
              >
                <ion-text color="primary">
                  <h3 class="no-margin-top">
                    {{ 'trek.details.departure' | translate }}
                  </h3>
                </ion-text>
                <div *ngIf="currentTrek.properties.departure_city">
                  {{ 'trek.details.city' | translate }} {{
                  currentTrek.properties.departure_city.name }}
                </div>
                {{ currentTrek.properties.departure }}
              </div>

              <div
                *ngIf="currentTrek.properties.arrival && currentTrek.properties.arrival.length > 0"
              >
                <ion-text color="primary">
                  <h3>{{ 'trek.details.arrival' | translate }}</h3>
                </ion-text>
                <div *ngIf="currentTrek.properties.arrival_city">
                  {{ 'trek.details.city' | translate }} {{
                  currentTrek.properties.arrival_city.name }}
                </div>
                {{ currentTrek.properties.arrival }}
              </div>
            </div>
            <div
              class="no-vertical-padding"
              *ngIf="
                (currentTrek.properties.departure || currentTrek.properties.arrival) &&
                currentTrek.properties.departure === currentTrek.properties.arrival
              "
            >
              <ion-text color="primary">
                <h3 class="no-margin-top">
                  {{ 'trek.details.departureArrival' | translate }}
                </h3>
              </ion-text>
              <div>
                <div *ngIf="currentTrek.properties.departure_city">
                  {{ 'trek.details.city' | translate }} {{
                  currentTrek.properties.departure_city.name }}
                </div>
                <div>{{ currentTrek.properties.departure }}</div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row marginTop class="font-medium ion-margin-top">
          <ion-col size="6">
            <div *ngIf="currentTrek.properties.duration" class="extra-details">
              <ion-icon
                class="icon-detail"
                name="hourglass"
                [attr.aria-label]="'trek.details.duration' | translate"
              ></ion-icon>
              <span *ngIf="currentTrek.properties.duration < 24">
                {{ currentTrek.properties.duration | lowerRound | number:
                '1.0-0' }}h<span *ngIf="currentTrek.properties.duration % 1 > 0"
                  >{{ 60 * (currentTrek.properties.duration % 1) | number:
                  '1.0-0' }}min</span
                >
              </span>
              <span *ngIf="currentTrek.properties.duration >= 24">
                {{ currentTrek.properties.duration / 24 | number: '1.0-0'
                }}j</span
              >
            </div>
            <div *ngIf="currentTrek.properties.ascent" class="extra-details">
              <ion-icon
                class="icon-detail"
                name="trending-up"
                [attr.aria-label]="'trek.details.height' | translate"
              ></ion-icon>
              {{ currentTrek.properties.ascent }}m
            </div>
            <div *ngIf="currentTrek.properties.route" class="extra-details">
              <ion-icon
                class="icon-detail"
                name="swap-horizontal"
                [attr.aria-label]="'trek.details.parcours' | translate"
              ></ion-icon>
              {{ currentTrek.properties.route.name }}
            </div>
          </ion-col>
          <ion-col size="6">
            <div
              *ngIf="currentTrek.properties.difficulty"
              class="extra-details"
            >
              <ion-img
                *ngIf="currentTrek.properties.difficulty.pictogram"
                class="icon-detail"
                [src]="trekExtraDetails.difficulty"
                alt="{{ 'trek.details.difficulty' | translate }}"
              ></ion-img>
              {{ currentTrek.properties.difficulty.name }}
            </div>
            <div *ngIf="currentTrek.properties.length" class="extra-details">
              <ion-icon
                class="icon-detail"
                name="resize"
                [attr.aria-label]="'trek.details.length' | translate"
              ></ion-icon>
              {{ currentTrek.properties.length / 1000 | number: '1.1-1':'fr'
              }}km
            </div>
            <div *ngIf="currentTrek.properties.practice" class="extra-details">
              <ion-img
                *ngIf="currentTrek.properties.practice.pictogram"
                [style.background-color]="currentTrek.properties.practice.color"
                class="icon-detail"
                [src]="trekExtraDetails.practice"
                alt="{{ 'trek.details.category' | translate }}"
              ></ion-img>
              {{ currentTrek.properties.practice.name }}
            </div>
          </ion-col>
        </ion-row>

        <ion-row
          *ngIf="currentTrek.properties.themes && currentTrek.properties.themes.length > 0"
        >
          <ion-col size="12">
            <ion-text color="primary">
              <h3>{{ 'trek.details.theme' | translate }}</h3>
            </ion-text>
          </ion-col>
          <ion-col size="6" *ngFor="let theme of trekExtraDetails.themes">
            <div class="theme-container">
              <ion-img
                *ngIf="theme.pictogram"
                class="icon-detail"
                [src]="theme.url"
                aria-hidden="true"
              ></ion-img>
              {{ theme.name }}
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div *ngIf="currentTrek.properties.description">
              <ion-text color="primary">
                <h2 class="custom-divider">
                  {{ 'trek.details.description' | translate }}
                </h2>
              </ion-text>
              <div
                class="trek-description"
                [innerHTML]="currentTrek.properties.description"
              ></div>
            </div>
            <div
              *ngIf="currentTrek.properties.networks && currentTrek.properties.networks.length > 0"
            >
              <ion-text color="primary">
                <h3 class="inline">Balisage</h3>
              </ion-text>
              <div
                *ngFor="let network of trekExtraDetails.networks"
                class="network-container"
              >
                <ion-img
                  *ngIf="network.pictogram"
                  class="icon-detail"
                  [src]="network.url"
                  aria-hidden="true"
                ></ion-img>
                <span>{{ network.name }}</span>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <div #stages>
          <ion-row *ngIf="isItinerancy">
            <ion-col>
              <div>
                <ion-text color="primary">
                  <h2 class="custom-divider">
                    {{ 'trek.details.stages' | translate }} ({{
                    currentTrek.properties.children.features.length }})
                  </h2>
                </ion-text>
              </div>
              <swiper-container
                [modules]="swiperModules"
                [breakpoints]="breakpoints"
                [centeredSlides]="true"
                style="margin-left: -10px; padding-left: 40px"
              >
                <swiper-slide
                  *ngFor="let trek of currentTrek.properties.children.features; index as indexStage"
                >
                  <app-trek-card
                    style="width: 300px"
                    [isStage]="true"
                    [numStage]="indexStage + 1"
                    [parentId]="this.currentTrek.properties.id"
                    [showAllData]="true"
                    [trek]="trek"
                    [offline]="offline"
                  ></app-trek-card>
                </swiper-slide>
              </swiper-container>
            </ion-col>
          </ion-row>
        </div>

        <ion-row
          *ngIf="currentTrek.properties.profile && currentTrek.properties.profile !== ''"
        >
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">
                {{ 'trek.details.profile' | translate }}
              </h2>
            </ion-text>
            <div>
              <ion-img
                [src]="trekExtraDetails.profile"
                aria-hidden="true"
              ></ion-img>
            </div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="currentTrek.properties.is_park_centered">
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">
                {{ 'trek.details.rules' | translate }}
              </h2>
            </ion-text>
            <p>{{ 'trek.details.rulesDescription' | translate }}</p>
            <div *ngIf="showImgRulesIfParkCentered">
              <ion-img
                src="assets/image/reglementation.jpg"
                alt="rules"
                aria-hidden="true"
              >
              </ion-img>
            </div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="currentTrek.properties.access">
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">
                {{ 'trek.details.access' | translate }}
              </h2>
            </ion-text>
            <div [innerHTML]="currentTrek.properties.access"></div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="currentTrek.properties.advised_parking">
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">
                {{ 'trek.details.parking' | translate }}
              </h2>
            </ion-text>
            <div [innerHTML]="currentTrek.properties.advised_parking"></div>
            <ion-button
              *ngIf="currentTrek.properties.parking_location"
              fill="clear"
              (click)="GoToAdvisedParking()"
            >
              {{ 'trek.details.goToAdvisedParking' | translate }}
              <ion-icon
                slot="start"
                name="return-up-forward"
                aria-hidden="true"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="currentTrek.properties.advice">
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">
                {{ 'trek.details.advice' | translate }}
              </h2>
            </ion-text>
            <div [innerHTML]="currentTrek.properties.advice"></div>
          </ion-col>
        </ion-row>

        <ion-row
          *ngIf="currentTrek.properties.information_desks && currentTrek.properties.information_desks.length > 0"
        >
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">
                {{ 'trek.details.desk' | translate }} ({{
                currentTrek.properties.information_desks.length }})
              </h2>
            </ion-text>
            <swiper-container
              [modules]="swiperModules"
              [breakpoints]="breakpoints"
              [centeredSlides]="true"
              style="margin-left: -10px; padding-left: 40px"
            >
              <swiper-slide
                *ngFor="let information_desk of currentTrek.properties.information_desks"
              >
                <app-information-desk
                  [informationDesk]="information_desk"
                  [offline]="offline"
                ></app-information-desk>
              </swiper-slide>
            </swiper-container>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="currentPois && currentPois.length > 0 && !isItinerancy">
          <ion-col>
            <ion-text color="primary">
              <h2 class="custom-divider">
                {{ 'trek.details.poi.name' | translate }} ({{ currentPois.length
                }})
              </h2>
            </ion-text>

            <swiper-container
              [modules]="swiperModules"
              [breakpoints]="breakpoints"
              [centeredSlides]="true"
              style="margin-left: -10px; padding-left: 40px"
            >
              <swiper-slide *ngFor="let currentPoi of currentPois">
                <app-poi
                  [poi]="currentPoi"
                  [commonSrc]="commonSrc"
                  [typePois]="typePois"
                  [offline]="offline"
                ></app-poi>
              </swiper-slide>
            </swiper-container>
          </ion-col>
        </ion-row>

        <div
          *ngIf="touristicCategoriesWithFeatures && touristicCategoriesWithFeatures.length > 0 && !isItinerancy"
        >
          <ion-row
            *ngFor="let touristicCategoryWithFeatures of this.touristicCategoriesWithFeatures"
          >
            <ion-col>
              <ion-text color="primary">
                <h2 class="custom-divider">
                  {{ touristicCategoryWithFeatures.name }} ({{
                  touristicCategoryWithFeatures.features.length }})
                </h2>
              </ion-text>

              <swiper-container
                [modules]="swiperModules"
                [breakpoints]="breakpoints"
                [centeredSlides]="true"
                style="margin-left: -10px; padding-left: 40px"
              >
                <swiper-slide
                  *ngFor="let touristicContent of touristicCategoryWithFeatures.features"
                >
                  <app-poi
                    [poi]="touristicContent"
                    [offline]="offline"
                  ></app-poi>
                </swiper-slide>
              </swiper-container>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </ng-template>
</ion-content>
