.bold {
  font-weight: 500;
}

.font-medium {
  font-size: 18px;
}

.inline {
  display: inline-block;
}

.margin-fab {
  margin-top: -28px;
}

.extra-details {
  line-height: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-detail {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
}
