<ion-card>
  <ion-img
    *ngIf="picture && picture.url !== ''; else displayIcon"
    [src]="picture!.url"
    aria-hidden="true"
    class="img-header"
  ></ion-img>
  <ng-template #displayIcon>
    <div class="display-icon-container">
      <ion-icon size="large" name="image-outline"></ion-icon>
    </div>
  </ng-template>
  <ion-card-header class="ion-text-left">
    <div class="card-header-container">
      <ion-img
        class="img-type"
        *ngIf="typeImgSrc && !hideImgPracticeSrc"
        [src]="typeImgSrc"
        (ionError)="onImgPracticeSrcError()"
        [attr.aria-label]="currentTypePoi.label"
      ></ion-img>
      <ion-card-title>
        <h3 class="ion-no-margin" [innerHTML]="poi.properties.name"></h3>
      </ion-card-title>
    </div>
  </ion-card-header>
  <ion-card-content>
    <ion-button fill="clear" (click)="presentPoiDetails()"
      >Plus d'informations</ion-button
    >
  </ion-card-content>
</ion-card>
