ion-card {
  width: 250px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  .img-header {
    width: 100%;
    &::part(image) {
      height: 200px;
      height: 200px;
      object-fit: cover;
    }
  }
  .display-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    color: var(--ion-color-primary);
  }
  ion-card-title {
    h3 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
  ion-card-content {
    padding-top: 0px;
    padding-bottom: 0px;
    ion-button {
      --padding-start: 0px;
      --padding-end: 0px;
    }
  }
  .legend-container {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .card-header-container {
    display: flex;
    align-items: center;
    .img-type {
      max-width: 32px;
      max-height: 32px;
      margin-right: 16px;
    }
  }
}
