<ion-header>
  <ion-toolbar color="primary">
    <ion-title> {{ 'mapTreks.treksAlert.title' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="this.imgPractices.length === radioTreks.length">
    <ion-radio-group
      (ionChange)="selectedTrekChange($event)"
      [value]="selectedTrekId"
    >
      <ion-list-header>
        {{ 'mapTreks.treksAlert.informUser' | translate }}
      </ion-list-header>

      <ion-item *ngFor="let trek of radioTreks; let i = index">
        <ion-radio
          [legacy]="true"
          [attr.aria-label]="trek.id"
          [value]="trek.id"
          slot="start"
        ></ion-radio>
        <ion-img
          style="width: 24px; height: 24px; margin-right: 12px"
          *ngIf="
            trek.imgPractice.src && !this.imgPractices[i].hideImgPracticeSrc
          "
          [style.background-color]="
            trek.imgPractice.color ? trek.imgPractice.color : 'transparent'
          "
          [src]="this.imgPractices[i].src"
          (ionError)="onImgPracticeSrcError(i)"
        ></ion-img>
        <ion-label class="ion-text-wrap">{{ trek.name }}</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" color="primary" fill="clear">
        {{ 'mapTreks.treksAlert.cancelButton' | translate }}
      </ion-button>
      <ion-button (click)="select()" color="primary" fill="clear">
        {{ 'mapTreks.treksAlert.confirmButton' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
