<div class="switch-detail switch-detail-map">
    <a ui-sref="home.map.detail({ trekId: currentTrek })" class="trek-detail__back-bt button-icon icon ion-document-text"></a>
</div>

<div class="switch-detail switch-detail-treklocation">
    <button ng-click="centerMapTrek()" class="button-icon icon ion-arrow-shrink"></button>
</div>
<div class="switch-detail switch-detail-markers-menu">
    <button ng-click="toggleMarkersMenu()" class="button-icon icon ion-location"></button>
</div>
<div class="markers-menu" ng-class="{opened: markersMenuIsOpened}">
    <div class="markers-menu-title">
        <span ng-bind="'map_trek_detail.markers_display' | translate"></span>
        <div class="markers-menu-close" ng-click="closeMarkersMenu()">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <ul class="list markers-menu-list">
        <li class="pois-toggle" ng-click="toggleMarkerLayer('poisMarkers')">
            <div class="checked-or-not" ng-class="{checked: markersLayers.poisMarkers.visible}">
                <i class="ion-checkmark-round"></i>
            </div>
            <span ng-bind="'trek_detail.on_road' | translate"></span>
        </li>
        <li class="touristics-toggle" ng-if="touristicCategory.values && touristicCategory.values.length > 0" ng-repeat="touristicCategory in touristicCategories track by touristicCategory.id" ng-click="toggleMarkerLayer(touristicCategory.id + 'Markers')">
            <div class="checked-or-not" ng-class="{checked: markersLayers[touristicCategory.id + 'Markers'].visible}">
                <i class="ion-checkmark-round"></i>
            </div>
            <span ng-bind="touristicCategory.label"></span>
        </li>
    </ul>
</div>
