<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <div class="object-title">
            <div class="icon {{objectToDisplay.markerType}}">
                <img ng-if="objectToDisplay.pictogram" class="pictogram pictogram-title" ng-src="{{ objectToDisplay.pictogram }}"/>
            </div>
            <h3 class="poi-detail__name">{{ objectToDisplay.name}}</h3>
        </div>
        <a ng-if="$root.isIOS" class="button button-clear button-positive pull-right" ng-click="modal.remove()">{{ 'static_page.cancel' | translate }}</a>
        <button ng-if="$root.isAndroid" class="button button-icon pull-right" ng-click="modal.remove()">
            <i class="icon ion-close"></i>
        </button>

    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content overflow-scroll="false">

        <div class='page-content'>

            <div class="trek-detail padding">

                <ul ng-if="objectToDisplay.duration_pretty" class="trek-detail__main-infos">
                    <li class="trek-detail__main-infos__item icon-duration">{{ objectToDisplay.duration_pretty }}</li>
                    <li class="trek-detail__main-infos__item icon-difficulty">{{ objectToDisplay.difficulty.label }}</li>
                    <li class="trek-detail__main-infos__item icon-ascent">{{ objectToDisplay.ascent }} m</li>
                    <li class="trek-detail__main-infos__item icon-total-length">{{ objectToDisplay.length/1000 | number:2 }} km</li>

                </ul>

                <ul ng-if="objectToDisplay.usages" class="trek-detail__usage-infos">
                    <li class="trek-detail__usage-infos__item">{{ 'map_trek_detail.usages' | translate }}</li>
                    <li class="trek-detail__usage-infos__item" ng-repeat="usage in objectToDisplay.usages">
                        <img class="trek-detail__usage-infos__item icon" ng-src="{{ usage.pictogram }}"/>
                    </li>
                </ul>

                <ion-item class="poi-detail map-poi">
                    <div class="no-image" ng-if="!network_available && !downloaded">
                        <span>
                            {{ 'image.connect' | translate }}
                        </span>
                    </div >
                    <div ng-if="network_available || downloaded">
                        <img  ng-if="objectToDisplay.img" ng-src="{{ objectToDisplay.img.url }}" ng-alt="{{ objectToDisplay.img.title }}"/>
                        <img  ng-if="objectToDisplay.thumbnail && !objectToDisplay.img" class="thumbnail" ng-src="{{ objectToDisplay.thumbnail }}"/>
                    </div>
                    <p ng-if="objectToDisplay.description" class="poi-detail__description" ng-bind-html="objectToDisplay.description"></p>

                     <div ng-if="objectToDisplay.markerType==='touristic'" class="row content">
                            <div class="poi-detail__title">{{ 'pratical_infos' | translate }}</div>
                            <div ng-if="objectToDisplay.practical_info" class="poi-detail__description" ng-bind-html="objectToDisplay.practical_info"></div>
                            <div class="poi-detail__title">{{ 'contact' | translate }}</div>
                            <div ng-if="objectToDisplay.contact" class="poi-detail__description" ng-bind-html="objectToDisplay.contact"></div>
                            <a ng-if="objectToDisplay.email" href="mailto:{{objectToDisplay.email}}" ng-bind-html="objectToDisplay.email"></a>
                            <a ng-if="objectToDisplay.website" href="{{objectToDisplay.website}}" ng-bind-html="objectToDisplay.website"></a>
                        </div>
                </ion-item>

                <a ng-if="objectToDisplay.id" ng-click="modal.remove()" ui-sref="home.trek.detail({ trekId: objectToDisplay.id })" class="trek-detail__back-bt button-icon icon icon-text icon-geotrek icon-binoculars-2">{{ 'map_trek_detail.more_details' | translate }}</a>
            </div>
        </div>

    </ion-content>

</div>
