<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <div class="object-title">
            <img ng-if="objectToDisplay.pictogram" class="pictogram" ng-src="{{ objectToDisplay.pictogram }}"/>
            <h3 class="poi-detail__name">{{ objectToDisplay.name}}</h3>
        </div>
        <a ng-if="$root.isIOS" class="button button-clear button-positive pull-right" ng-click="modal.remove()">{{ 'static_page.cancel' | translate }}</a>
        <button ng-if="$root.isAndroid" class="button button-icon pull-right" ng-click="modal.remove()">
            <i class="icon ion-close"></i>
        </button>

    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <div class='page-content'>
            <ion-item class="poi-detail item-thumbnail-right">
                <img ng-if="objectToDisplay.thumbnail" class="thumbnail" ng-src="{{ objectToDisplay.thumbnail }}"/>
                <div class="poi-detail__description" ng-bind-html="objectToDisplay.description"></div>
                </div>
            </ion-item>
        </div>

    </ion-content>

</div>