<ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>
        <ion-header-bar class="bar-balanced">
            <button class="button button-icon" menu-toggle="left">
                <i class="icon ion-levels"></i>
            </button>
            <h1 class="title">Treks</h1>
            <button class="button button-icon" ng-click="newTask()">
                <i class="icon ion-android-more"></i>
            </button>
        </ion-header-bar>

        <ion-header-bar class="bar-subheader">
            <div class="button-bar">
                <a class="button" ui-sref="home.trek" ui-sref-active="active">Itinéraires</a>
                <a class="button" ui-sref="home.map" ui-sref-active="active">Carte</a>
            </div>
        </ion-header-bar>

        <ui-view></ui-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Filtre</h1>
        </ion-header-bar>

        <ion-content scroll="false">
            <h4>Difficulty :</h4>
            <div class="bt-group">
                <button class="bt-group__bt" ng-repeat="difficulty in difficulties" ng-model="activeFilters.difficulty" btn-radio="{{ difficulty.value }}" uncheckable>{{ difficulty.name }}</button>
            </div>

            <h4>Duration :</h4>
            <div class="bt-group">
                <button class="bt-group__bt" ng-repeat="duration in durations" ng-model="activeFilters.duration" btn-radio="{{ duration.value }}" uncheckable>{{ duration.name }}</button>
            </div>

            <h4>Altitude :</h4>
            <div class="bt-group">
                <button class="bt-group__bt" ng-repeat="elevation in elevations" ng-model="activeFilters.elevation" btn-radio="{{ elevation.value }}" uncheckable>{{ elevation.name }}</button>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>