<ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>
        <ion-header-bar class="bar-balanced item-input-inset">
            <button class="button button-icon" menu-toggle="left">
                <i class="icon ion-levels"></i>
            </button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="activeFilters.search">
            </label>
            <button class="button button-icon" ng-click="newTask()">
                <i class="icon ion-android-more"></i>
            </button>
        </ion-header-bar>

        <ion-header-bar class="bar-subheader">
            <div class="button-bar">
                <a class="button" ui-sref="home.trek" ui-sref-active="active">Itinéraires</a>
                <a class="button" ui-sref="home.map" ng-class="{ active: $state.includes('home.map')}">Carte</a>
            </div>
        </ion-header-bar>

        <ui-view></ui-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" width="200">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Filtre</h1>
        </ion-header-bar>

        <ion-content scroll="false">
            <h4>Difficulty :</h4>
            <div class="bt-group">
                <button class="bt-group__bt" ng-repeat="difficulty in filtersData.difficulties" ng-model="activeFilters.difficulty" btn-radio="{{ difficulty.value }}" uncheckable>{{ difficulty.name }}</button>
            </div>

            <h4>Duration :</h4>
            <div class="bt-group">
                <button class="bt-group__bt" ng-repeat="duration in filtersData.durations" ng-model="activeFilters.duration" btn-radio="{{ duration.value }}" uncheckable>{{ duration.name }}</button>
            </div>

            <h4>Altitude :</h4>
            <div class="bt-group">
                <button class="bt-group__bt" ng-repeat="elevation in filtersData.elevations" ng-model="activeFilters.elevation" btn-radio="{{ elevation.value }}" uncheckable>{{ elevation.name }}</button>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>