<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <a ng-if="$root.isIOS" class="button button-clear button-positive" ng-click="back()">Cancel</a>
        <button ng-if="$root.isAndroid" class="button button-back button-icon" ng-click="back()">
            <i class="icon ion-android-arrow-back"></i>
            Rando Ecrins
        </button>
        <div class="buttons pull-right modal__actions">
            <button class="button button-icon" ng-click="newTask()">
                <i class="icon ion-android-forums"></i>
            </button>
            <button class="button button-icon" ng-click="share()">
                <i class="icon ion-android-share"></i>
            </button>
        </div>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <div class="trek-detail padding">
            <h1 class="trek-detail__title">{{ trek.properties.name }}</h1>

            <h3 class="trek-detail__subtitle" ng-bind-html="trek.properties.description_teaser"></h3>

            <h5 class="trek-detail__departure-arrival">{{ trek.properties.departure}} → {{ trek.properties.arrival}}</h5>

            <ul class="row trek-detail__main-infos responsive-sm">
                <li class="col trek-detail__main-infos__item icon-duration">{{ trek.properties.duration_pretty }}</li>
                <li class="col trek-detail__main-infos__item icon-difficulty">{{ trek.properties.difficulty.label }}</li>
                <li class="col trek-detail__main-infos__item icon-ascent">{{ trek.properties.ascent }}m</li>
                <li class="col trek-detail__main-infos__item icon-total-length">{{ trek.properties.length/1000 | number:2 }}km</li>
                <li class="col trek-detail__main-infos__item icon-route">{{ trek.properties.route.label }}</li>
                <li class="col trek-detail__main-infos__item icon ion-android-locate" ng-if="trek.distanceFromUser">{{ trek.distanceFromUser }}km</li>
            </ul>

            <ul class="row trek-detail__extra-infos responsive-sm">
                <li ng-if="trek.properties.usages" class="col trek-detail__extra-infos__item">
                    <span class="trek-detail__extra-infos__item__label">{{ 'map_trek_detail.usages' | translate }}</span>
                    <span class="trek-detail__extra-infos__item__icon" ng-repeat="usage in trek.properties.usages">
                        <img class="icon" ng-src="{{ usage.pictogram }}"/>
                    </span>
                </li>

                <li ng-if="trek.properties.themes" class="col trek-detail__extra-infos__item">
                    <span class="trek-detail__extra-infos__item__label">{{ 'trek_detail.themes' | translate }}</span>
                    <span class="trek-detail__extra-infos__item__icon wrapper" ng-repeat="theme in trek.properties.themes">
                        <img class="icon" ng-src="{{ theme.pictogram }}"/>
                    </span>
                </li>

                <li ng-if="trek.properties.networks" class="col trek-detail__extra-infos__item">
                    <span class="trek-detail__extra-infos__item__label">{{ 'trek_detail.networks' | translate }}</span>
                    <span class="trek-detail__extra-infos__item__icon" ng-repeat="network in trek.properties.networks">
                        <span>{{network.name}}</span>&nbsp;
                        <img class="icon icon-network" ng-src="{{ network.pictogram }}"/>
                    </span>
                </li>
            </ul>

            <ion-slide-box show-pager="true" disable-scroll="false">
                <ion-slide ng-repeat="picture in trek.properties.pictures">
                    <img ng-src="{{ picture.url }}">
                    <span class="slider-legend">{{ picture.legend }} ({{ picture.author }})</span>
                </ion-slide>
            </ion-slide-box>

            <h2 class="trek-detail__section-title">{{ 'trek_detail.description' | translate }}</h2>
            <p class="teaser" ng-bind-html="teaser">
                <p>{{ object.properties.description }}</p>
            </p>
            <p ng-repeat="district in trek.properties.districts">
                {{ district.name.join(', ') }}
            </p>
            <p>{{ 'trek_detail.cities' | translate }} : {{ trek.properties.cities.0.name }}</p>
            <p class="park_centered" ng-if="trek.properties.is_park_centered">{{ 'trek_detail.park_centered' | translate }}</p>

            <h2 class="trek-detail__section-title">{{ 'trek_detail.elevation' | translate }}</h2>
            <img class="trek-detail__altimetric-profile" ng-src="{{ trek.properties.altimetric_profile }}"/>
            <p>{{ 'trek_detail.min_elevation' | translate }} : {{ trek.properties.min_elevation }}m</p>
            <p>{{ 'trek_detail.max_elevation' | translate }} : {{ trek.properties.max_elevation }}m</p>

            <h2 class="trek-detail__section-title">{{ 'trek_detail.transport' | translate }}</h2>
            <p ng-if="trek.properties.advised_parking">{{ 'trek_detail.advised_parking' | translate }} : {{ trek.properties.advised_parking }}</p>
            <p ng-if="trek.properties.public_transport">
                <span>{{ 'trek_detail.public_transport' | translate }} : </span>
                <span ng-bind-html="trek.properties.public_transport"></span>
            </p>

            <h2 ng-if="trek.properties.advice" class="trek-detail__section-title">{{ 'trek_detail.advice' | translate }}</h2>
            <p ng-bind-html="trek.properties.advice" ></p>

            <h2 ng-if="trek.properties.disabled_infrastructure" class="trek-detail__section-title">{{ 'trek_detail.disabled_infrastructure' | translate }}</h2>
            <p ng-bind-html="trek.properties.disabled_infrastructure" ></p>

            <h2 ng-if="trek.properties.information_desks" class="trek-detail__section-title">{{ 'trek_detail.information_desks' | translate }}</h2>
            <ion-item class="" ng-repeat="information_desk in trek.properties.information_desks">
                <div class="information-desk">
                    <h3 ng-bind-html="information_desk.name"></h3>
                    <p ng-bind-html="information_desk.description"></p>
                    <p ng-bind-html="information_desk.street"></p>
                    <p>{{ information_desk.postal_code}} {{ information_desk.municipality}}</p>
                    <p>
                        <a href="{{information_desk.website}}">{{ 'trek_detail.website' | translate }}</a> - 
                        <a href="tel:{{information_desk.phone}}">{{information_desk.phone}}</a>
                    </p>
                </div>
            </ion-item>

            <h2 class="trek-detail__section-title">{{ 'trek_detail.on_road' | translate }}</h2>

            <ion-item class="poi-detail item-thumbnail-right" ng-repeat="poi in pois.features">
                <img class="thumbnail" ng-src="{{ poi.properties.thumbnail }}"/>
                <img class="pictogram" ng-src="{{ poi.properties.type.pictogram }}"/>
                <h3 class="poi-detail__name">{{ poi.properties.name}}</h3><span ng-if="poi.distanceFromUser" class="poi-detail__distance">&nbsp;({{ poi.distanceFromUser }}km)</span>
                <div class="poi-detail__description" ng-bind-html="poi.properties.description"></div>
            </ion-item>

        </div>

    </ion-content>

    <div class="switch-detail switch-detail-map">
        <a ui-sref="home.map.trek({ trekId: trek.id })" class="trek-detail__back-bt button-icon icon ion-android-location icon-faces"></a>
    </div>

</div>