<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <a ng-if="$root.isIOS" class="button button-clear button-positive" ng-click="back()">{{ 'cancel' | translate }}</a>
        <button ng-if="$root.isAndroid" class="button button-back button-icon" ng-click="back()">
            <i class="icon ion-android-arrow-back"></i>
            {{ 'cancel' | translate }}
        </button>
        <div class="buttons pull-right modal__actions">
            <span ng-if="trek.tiles.inDownloadProgress">{{ trek.tiles.realProgress }}%</span>
            <button ng-if="!trek.tiles.isDownloaded || trek.tiles.inDownloadProgress" ng-class="{active: trek.tiles.inDownloadProgress}" class="button button-icon" ng-click="downloadFiles()">
                <i class="icon ion-archive" ng-class="{'ion-archive': isAndroid, 'ion-archive': !isAndroid}"></i>
            </button>
            <button ng-if="trek.tiles.isDownloaded && !trek.tiles.inDownloadProgress" class="button button-icon">
                <i class="icon ion-archive low-op" ng-class="{'ion-archive': isAndroid, 'ion-archive': !isAndroid}"></i>
                <i class="icon ion-checkmark-round overicon"></i>
            </button>
            <button ng-if="false" class="button button-icon" ng-click="newTask()">
                <i class="icon ion-android-forums"></i>
            </button>
            <button class="button button-icon" ng-click="share()">
                <i class="icon ion-android-share"></i>
            </button>
        </div>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content overflow-scroll="false" class="modal-content">

        <div class="trek-detail padding">
            <h1 class="trek-detail__title">{{ trek.properties.name }}</h1>

            <h3 class="trek-detail__subtitle" ng-bind-html="trek.properties.description_teaser"></h3>
            <p class="trek-detail__ambiance" ng-bind-html="trek.properties.ambiance"></p>
            <p class="trek-detail__municipality">{{ 'trek_detail.cities' | translate }} : {{ trek.properties.cities.0.name }}</p>
            <p ng-if="trek.properties.departure || trek.properties.arrival" class="trek-detail__departure-arrival">{{ trek.properties.departure }} <span ng-if="trek.properties.arrival">→</span> {{ trek.properties.arrival }}</p>

            <ul class="trek-detail__main-infos">
                <li class="trek-detail__main-infos__item icon-duration">{{ trek.properties.duration_pretty }}</li>
                <li class="trek-detail__main-infos__item icon-difficulty">{{ trek.properties.difficulty.label }}</li>
                <li class="trek-detail__main-infos__item icon-ascent">{{ trek.properties.ascent }}m</li>
                <li class="trek-detail__main-infos__item icon-total-length">{{ trek.properties.length/1000 | number:2 }}km</li>
                <li class="trek-detail__main-infos__item icon-route">{{ trek.properties.route.label }}</li>
                <li class="trek-detail__main-infos__item icon ion-android-locate" ng-if="trek.distanceFromUser">{{ trek.distanceFromUser }}km</li>
            </ul>

            <ul class="trek-detail__extra-infos">
                <li ng-if="trek.properties.usages.length > 0 || trek.properties.accessibilities.length > 0" class="trek-detail__extra-infos__item">
                    <span class="trek-detail__extra-infos__item__label">{{ 'map_trek_detail.usages' | translate }}</span>
                    <span class="trek-detail__extra-infos__item__icon" ng-repeat="usage in trek.properties.usages">
                        <img class="icon" ng-src="{{ usage.pictogram }}"/>
                    </span>
                    <span class="trek-detail__extra-infos__item__icon" ng-repeat="accessibility in trek.properties.accessibilities">
                        <img ng-if="accessibility.pictogram" class="icon" ng-src="{{ accessibility.pictogram }}"/>
                    </span>
                </li>

                <li ng-if="trek.properties.themes" class="trek-detail__extra-infos__item">
                    <span class="trek-detail__extra-infos__item__label">{{ 'trek_detail.themes' | translate }}</span>
                    <span class="trek-detail__extra-infos__item__icon" ng-repeat="theme in trek.properties.themes">
                        <img class="icon" ng-src="{{ theme.pictogram }}"/>
                    </span>
                </li>

                <li ng-if="trek.properties.networks" class="trek-detail__extra-infos__item">
                    <span class="trek-detail__extra-infos__item__label">{{ 'trek_detail.networks' | translate }}</span>
                    <span class="trek-detail__extra-infos__item__icon wrapper" ng-repeat="network in trek.properties.networks">
                        <span class="net-name">{{network.name}}</span>&nbsp;
                        <img class="icon icon-network" ng-src="{{ network.pictogram }}"/>
                    </span>
                </li>
            </ul>

            <ion-slide-box show-pager="true" disable-scroll="false">
                <ion-slide ng-repeat="picture in trek.properties.pictures">
                    <img ng-if="network_available || trek.tiles.isDownloaded" ng-src="{{ picture.url }}">
                    <div class="no-image" ng-if="!network_available && !trek.tiles.isDownloaded">
                        <span>
                            {{ 'image.connect' | translate }}
                        </span>
                    </div>
                    <span ng-if="picture.legend || picture.author" class="slider-legend">{{ picture.legend }} ({{ picture.author }})</span>
                </ion-slide>
            </ion-slide-box>

            <h2 class="trek-detail__section-title">{{ 'trek_detail.description' | translate }}</h2>
            <p class="description" ng-bind-html="mainDescription">
                {{ trek.properties.description }}
            </p>
            <p ng-repeat="district in trek.properties.districts">
                {{ district.name.join(', ') }}
            </p>
            <p class="park_centered" ng-if="trek.properties.is_park_centered">{{ 'trek_detail.park_centered' | translate }}</p>

            <div ng-if="activateElevation">
                <h2 class="trek-detail__section-title">{{ 'trek_detail.elevation' | translate }}</h2>
                <img class="trek-detail__altimetric-profile" ng-src="{{ trek.properties.altimetric_profile }}"/>
                <p>{{ 'trek_detail.min_elevation' | translate }} : {{ trek.properties.min_elevation }}m</p>
                <p>{{ 'trek_detail.max_elevation' | translate }} : {{ trek.properties.max_elevation }}m</p>
            </div>

            <h2 class="trek-detail__section-title" ng-if="trek.properties.public_transport.length > 0 || trek.properties.advised_parking">{{ 'trek_detail.transport' | translate }}</h2>
            <p ng-if="trek.properties.advised_parking">{{ 'trek_detail.advised_parking' | translate }} : {{ trek.properties.advised_parking }}</p>
            <p ng-if="trek.properties.public_transport.length > 0">
                <span>{{ 'trek_detail.public_transport' | translate }} : </span>
                <span ng-bind-html="trek.properties.public_transport"></span>
            </p>

            <h2 ng-if="trek.properties.advice" class="trek-detail__section-title">{{ 'trek_detail.advice' | translate }}</h2>
            <p ng-bind-html="trek.properties.advice" ></p>

            <h2 ng-if="trek.properties.disabled_infrastructure" class="trek-detail__section-title">{{ 'trek_detail.disabled_infrastructure' | translate }}</h2>
            <p ng-bind-html="trek.properties.disabled_infrastructure" ></p>

            <h2 ng-if="trek.properties.information_desks.length > 0" class="trek-detail__section-title">{{ 'trek_detail.information_desks' | translate }}</h2>
            <ion-item ng-if="trek.properties.information_desks.length > 0" class="" ng-repeat="information_desk in trek.properties.information_desks">
                <div class="information-desk">
                    <h3 ng-bind-html="information_desk.name"></h3>
                    <img ng-if="network_available || trek.tiles.isDownloaded" ng-src="{{information_desk.photo_url}}">
                    <p ng-bind-html="information_desk.description"></p>
                    <p ng-bind-html="information_desk.street"></p>
                    <p>{{ information_desk.postal_code}} {{ information_desk.municipality}}</p>
                    <p>
                        <a href="{{information_desk.website}}">{{ 'trek_detail.website' | translate }}</a> - 
                        <a href="tel:{{information_desk.phone}}">{{information_desk.phone}}</a>
                    </p>
                </div>
            </ion-item>

            <h2 ng-if="pois.features.length > 0" class="trek-detail__section-title">{{ 'trek_detail.on_road' | translate }}</h2>

            <ion-item ng-if="pois.features.length > 0" class="poi-detail" ng-repeat="poi in pois.features">
                <div class="header">
                    <div class="title row">
                        <div class="col-10">
                            <img class="pictogram" ng-src="{{ poi.properties.type.pictogram }}"/>
                           
                        </div>
                        <div class="col">
                            <h3 class="poi-detail__name">{{ poi.properties.name}}</h3>
                            <span ng-if="poi.distanceFromUser" class="poi-detail__distance">&nbsp;({{ 'trek_detail.at' | translate }} {{ poi.distanceFromUser }}km)</span>
                        </div>
                    </div>
                    <div class="picture">
                        <img ng-if="network_available || trek.tiles.isDownloaded" ng-src="{{ poi.properties.pictures[0].url }}"/>
                         <div class="no-image" ng-if="!network_available && !trek.tiles.isDownloaded">
                            <span>
                                {{ 'image.connect' | translate }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row content">
                    <div class="poi-detail__description" ng-bind-html="poi.properties.description"></div>
                </div>
            </ion-item>

        </div>

    </ion-content>

    <div class="switch-detail switch-detail-map">
        <a ui-sref="home.map.trek({ trekId: trek.id })" class="trek-detail__back-bt button-icon icon ion-android-location icon-faces" ng-click="alert('clicked');"></a>
    </div>

</div>