<ion-content>
    <ion-list class="trek-list">
        <ion-item ng-repeat="trek in treks.features | filter:filterTreks | filter:{properties:activeFilters.search}" ui-sref="home.map.trek({ trekId: trek.id })" class="trek-list__item item-thumbnail-left">
            <img class="thumbnail" ng-src="{{ trek.properties.pictures.0.url }}"/>
            <h3>{{ trek.properties.name }}</h3>
            <p class="departure">Départ : {{ trek.properties.departure }}</p>
            <p>{{ trek.properties.difficulty.label }} - {{ trek.properties.duration_pretty }}</p>
            <a ui-sref="home.trek.detail({ trekId: trek.id })" ng-click="$event.stopPropagation()" class="trek-list__item__detail-bt button-icon icon ion-ios7-information"></a>
        </ion-item>
    </ion-list>
</ion-content>

<div ui-view></div>