<ion-content overflow-scroll="false">
    <ion-list class="trek-list">
        <ion-item collection-repeat="trek in filteredTreks | filter:{properties:activeFilters.search} | orderBy:orderProp" ui-sref="home.trek.detail({ trekId: trek.id })" class="trek-list__item item-thumbnail-left" collection-item-height="110" collection-item-width="'100%'">
            <img class="thumbnail" ng-src="{{ trek.properties.thumbnail }}"/>
            <h3>{{ trek.properties.name }}</h3>
            <p ng-if="trek.properties.departure" class="departure">{{ 'trek_list.departure' | translate }} : {{ trek.properties.departure }}</p>
            <p class="difficulty">{{ trek.properties.difficulty.label }} <span ng-if="trek.properties.difficulty && trek.properties.duration_pretty">-</span> {{ trek.properties.duration_pretty }}</p>
            <p ng-if="trek.distanceFromUser">{{ 'trek_list.distance' | translate }} : {{ trek.distanceFromUser }}km</p>
            <div class="trek-list__item__detail__actions">
                <i ng-if="trek.tiles.isDownloaded && !trek.tiles.inDownloadProgress" class="icon ion-archive"></i>
            </div>
        </ion-item>
    </ion-list>
</ion-content>

<div ui-view></div>