    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <a ng-if="$root.isIOS" class="button button-clear button-positive" ui-sref="home.trek">Cancel</a>
        <button ng-if="$root.isAndroid" class="button button-back button-icon" ui-sref="home.trek">
            <i class="icon ion-android-arrow-back"></i>
            {{ 'user_parameters.back' | translate }}
        </button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <ion-list class="user-parameters">

            <div class="item item-divider">
                {{ 'user_parameters.global' | translate }}
            </div>

            <ion-item class="item item-input item-select">
                <div class="input-label">
                  {{ 'user_parameters.language' | translate }}
                </div>
                <select ng-model="userSettings.currentLanguage" ng-options="data.label for (key, data) in languages">
                </select>
            </ion-item>

            <div class="item item-divider">
                {{ 'user_parameters.network' | translate }}
            </div>

            <ion-item class="item-input">
                <div class="input-label">
                  {{ 'user_parameters.is_connected' | translate }}
                </div>
                <label class="pull-right">
                    <span class="network-status" ng-switch="$root.network_available">
                        <div ng-switch-when="true">
                        {{ 'user_parameters.network_reachable' | translate }}
                        </div>
                        <div ng-switch-when="false">
                        {{ 'user_parameters.network_not_reachable' | translate }}
                        </div>
                    </span>
                </label>
            </ion-item>

            <ion-item class="item item-input item-select">
                <div class="input-label">
                  {{ 'user_parameters.synchronization_mode' | translate }}
                </div>
                <select ng-model="userSettings.synchronizationMode" ng-options="data.label for (key, data) in connections">
                </select>
            </ion-item>

            <div class="item item-divider">
                {{ 'user_parameters.map' | translate }}
            </div>

            <ion-item class="item-toggle">
                <div class="input-label">
                  {{ 'user_parameters.poi_alert' | translate }}
                </div>
                <label class="toggle toggle-royal pull-right">
                    <input type="checkbox" ng-model="userSettings.alertOnPois" >
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>

            <ion-item class="item-toggle">
                <div class="input-label">
                  {{ 'user_parameters.clean_maps' | translate }}
                </div>
                <label class="toggle pull-right">
                    <span>{{ clean_message }}</span>
                    <button class="button button-small button-light" ng-click="cleanMaps()" ng-disabled="cleanIsDisabled">
                    {{ 'user_parameters.clean' | translate }}
                    </button>
                </label>
            </ion-item>


        </ion-list>

    </ion-content>
