<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="trekUrl"></ion-back-button>
    </ion-buttons>
    <div *ngIf="currentTrek" class="custom-title">
      <ion-text>{{ currentTrek!.properties.name }}</ion-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container>
    <app-connect-error
      *ngIf="connectionError; else trekMap"
      icon="wifi"
      [title]="'error.title' | translate"
      [content]="'error.TrekMap' | translate"
      [buttonText]="'error.buttonText' | translate"
      (retry)="refresh()"
    >
    </app-connect-error>
  </ng-container>
  <ng-template #trekMap>
    <app-map-trek-viz
      *ngIf="canDisplayMap"
      [currentTrek]="currentTrek"
      [currentPois]="currentPois"
      [touristicCategoriesWithFeatures]="touristicCategoriesWithFeatures"
      (presentPoiDetails)="presentPoiDetails($event)"
      (presentInformationDeskDetails)="presentInformationDeskDetails($event)"
      [mapConfig]="mapConfig"
      [dataSettings]="settings.data$.value"
      [commonSrc]="commonSrc"
      (navigateToChildren)="navigateToChildren($event)"
    >
    </app-map-trek-viz>
    <div class="bottom-container">
      <app-geolocate-notifications
        [trekName]="currentTrek ? currentTrek!.properties.name : ''"
        [currentPois]="currentPois"
        (presentPoiDetails)="presentPoiDetails($event)"
      >
      </app-geolocate-notifications>
    </div>
  </ng-template>
</ion-content>
