<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="trekUrl"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="currentTrek">{{ currentTrek.properties.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loader></app-loader>
  <ng-container>
    <app-connect-error *ngIf="connectionError else trekMap" icon="wifi" title="Problème de connexion"
      content="Veuillez vous assurer d’être connecté afin d’accéder à la randonnée non téléchargée"
      buttonText="Réessayez" (retry)="refresh()">
    </app-connect-error>
  </ng-container>
  <ng-template #trekMap>
    <app-map-trek-viz [currentTrek]="currentTrek" [currentPois]="currentPois"
      [touristicCategoriesWithFeatures]="touristicCategoriesWithFeatures"
      (presentPoiDetails)="presentPoiDetails($event)"
      (presentInformationDeskDetails)="presentInformationDeskDetails($event)" (mapIsLoaded)="mapIsLoaded($event)"
      [mapConfig]="mapConfig" [dataSettings]="settings.data$.value" [commonSrc]="commonSrc">
    </app-map-trek-viz>
    <div class="bottom-container">
      <app-geolocate-notifications [trekName]="currentTrek ? currentTrek.properties.name : ''"
        [currentPois]="currentPois" (presentPoiDetails)="presentPoiDetails($event)">
      </app-geolocate-notifications>
    </div>
  </ng-template>
</ion-content>