.bottom-container {
  z-index: 8;
  position: absolute;
  bottom: 32px;
  padding: 0px 7px 5px 7px;
  width: 100%;
}

ion-header {
  .custom-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.0125em;
  }
}
